/**
 *
 * Apply Here your Custom CSS
 *
*/
.upload-kit-input {
    width:100% !important;
    height:250px !important;
}
/*.upload-kit .files {
    width: 106% !important;
    height: 250px !important;
}*/
.upload-kit .upload-kit-item.image>img {
    max-width:100%;
    /*height:250px !important;*/
}

.upload-kit .files {
	width: 100%;
}

.upload-kit .upload-kit-input, .upload-kit .upload-kit-item {
	max-width: 100%;
}
.font-size-16 {
    font-size:12pt;
}
.th-center th {
    text-align: center;
}
.panel-heading-sm{
    padding: 4px 10px;
}

.panel-body-sm{
    padding: 0px 0px;
}

.loader-gif {
    background:url(/images/loader-1.gif) no-repeat center center;
    width:100%;
    height:100%;
}

.pointer-cursor{
    cursor: pointer;
}

.label-bootstrap-height{
    line-height: 34px;
}

.custom-tab-content{
    min-height: 232px;
}

.pagination-ul > li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 3px;
}

.pagination-ul > li.active{
    font-weight: bold;
}



/********Loader***********/
.loader-spin {
    margin: 0 auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}