/***********SPRITE*ICONS**************/

.brand-label{
    background-color: #f56e3c;
}

.icon-sprite{
    display: inline-block;
}

.icon-sprite::before{
    display: inline-block;
    content: "";
}

.icon-compare::before{
    width: 20px;
    height: 20px;
    margin-top: -5px;
    background: url("../img/sprite2.png") 0 -48px no-repeat;
}

.icon-cart::before{
    width: 20px;
    height: 15px;
    margin-left: -5px;
    background: url("../img/sprite2.png") 2px -28px no-repeat;
}

.icon-love::before{
    width: 20px;
    height: 15px;
    margin-left: -5px;
    background: url("../img/sprite2.png") 2px -13px no-repeat;
}

.gray-color{
  color: #8C8C8C
}

/*********END*OF*SPRITE*ICONS**************/

.cursor-ussual{
    cursor: default !important;
}

.form-control-input-label{
    line-height: 34px;
}

.form-control-input-label-sm{
    line-height: 25px;
}

.filter-title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px;
}

.filter-products{
    margin: 5px auto;
}

.filter-label-wrap{
    /*text-decoration: underline;*/
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.filter-label{
    font-size: 16px;
    font-weight: 300;
    color: #003c5a;
}

.filter-list{}

.filter-list > li{
    margin: 5px auto;
}

.form-control{
 height: inherit;
}


/***********Brands*************/
.brand-list-item{
    min-height: 50px;


    margin: 10px 0;
    padding: 20px 0;
}


/***********Customer*order*************/

.customer-orders > li.customer-order{
    margin: 8px auto;
    padding:  10px auto;
    cursor: pointer;
}

.customer-orders-head, .customer-order-head{
    margin: 8px auto 12px;
    padding: 10px auto;
    font-weight: bold;
}

.customer-order-container{
    padding: 10px;
}

.customer-order-detail{
    display: none;
    padding-top: 10px;
}

.customer-order__active{
    background-color: rgba(200, 200, 200, 0.43);
    border-radius: 10px;
}

.customer-order-detail__active{
    display: block;
}

.customer-order-detail > li{
    margin: 5px auto;
}

.blog-content-image{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.blog-content-text{
    padding-top: 10px;
}