body{
	font-size: 14px;
	line-height: normal;
	font-family: 'HelveticaNeueCyr', sans-serif;
}
.b-section{
	overflow: hidden;
	display: table;
    width: 100%;
    height: 100%;
	&__title{
		padding: 25px 0;
		font-size: 24px;
		color: #696d74;
		text-transform: uppercase;
		position: relative;
		margin: 0 0 35px;
		font-family: 'HelveticaNeueCyr-Black',sans-serif;
		&:before{
			content:'';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 52px;
			height: 3px;
			background: #696d74;
		}
	}
	&__item{
		padding-bottom: 60px;
	}
	&__left-title{
		font-size: 16px;
		font-weight: bold;
		color: #696d74;
		margin: 0 0 10px;
	}
	&__big-bunner{
		margin-bottom: 40px;
		display: block;
		overflow: hidden;
		& img{
			max-width: 100%;
			transition: all 0.4s;

		}
		@media screen and (max-width: 778px) {
		   display: none ;
		}
		&:hover{
			& img{
				transform: scale(1.1);
			}
			
		}
	}
	&__left{
		& > .b-header__bottommenu{
			@media screen and (max-width: 991px) {
				width: 100%;
			    left: 0;
			}
			@media screen and (max-width: 778px) {
			   display: none !important;
			   
			}

		}
		& > .b-section__left-title{
			@media screen and (max-width: 778px) {
			   display: none ;
			}
		}
		& .b-header__botmenu-item{
			display: block;
			padding: 5px 0;
			&--active{
				& > .b-header__submenu-list{
					display: block;
				}
			}
		}
		& .b-header__submenu-list{
			position: static;
			padding-top: 0;
		}
		& .b-header__botmenu-link{
			color: #696d74;
		}
		& .b-header__submenu-link{
			color: #696d74;
		}
	}
	&__anchor{
		width: 40px;
		height: 40px;
		background: rgba(255,255,255,0.7);
		position: fixed;
		bottom: 30px;
		right: 30px;
		border-radius: 5px;
		transition: all 0.5s;
		@media screen and (max-width: 768px) {
			bottom: 10px;
			right: 10px;
		}
		&:hover{
			background: rgba(255,255,255,0.9);
			border-radius: 50%;
			cursor:pointer;
		}
		&[data-path=""]{
			display: none;
		}
		&[data-path="up"]{
			display: block;
		}
		&[data-path="down"]{
			display: block;
			transform: rotate(180deg);
		}
	}
	&__anchor-link{
		display: block;
		height: 100%;
		width: 100%;
		
		&:before{
			content:'';
			display: block;
			width: 11px;
			height: 8px;
			top: 50%;
			margin-top: -4px;
			left: 50%;
			margin-left: -5px;
			position: absolute;
			background: url(../img/sprite.png) -58px -62px no-repeat;
		}
	}
	&__text{
		margin-bottom: 40px;
	}
	&__contentText{

		& p{
			 margin: 0 0 10px;
		    font-size: 15px;
		    color: #696d74;
		    line-height: 20px;
		    margin-bottom: 15px;
		    & a{
				color: #003c5a;
				text-decoration: underline;
				margin-bottom: 0;
				display: inline-block;
				&:hover{
					text-decoration: none;
					color: #ff791e;
					
				}
		    }
		}
		& a{
			color: #003c5a;
			text-decoration: underline;
			display: block;
			margin-bottom: 15px;
			display: inline-block;
			&:hover{
				text-decoration: none;
				color: #ff791e;
				
			}
		}
		& h1{
			padding: 25px 0;
		    font-size: 31px;
		    color: #696d74;
		    margin: 0;
		    text-transform: uppercase;
		    position: relative;
		    font-family: 'HelveticaNeueCyr-Black',sans-serif;
		}
		& h2{
			padding: 25px 0;
		    font-size: 24px;
		    color: #696d74;
		    margin: 0;
		    text-transform: uppercase;
		    position: relative;
		    font-family: 'HelveticaNeueCyr-Black',sans-serif;
		}
		& h3{
			padding: 25px 0;
		    font-size: 18px;
		    color: #696d74;
		    margin: 0;
		    text-transform: uppercase;
		    position: relative;
		    font-family: 'HelveticaNeueCyr-Black',sans-serif;
		}
		ul{
			margin: 30px 0;
			& li{
				margin-bottom: 15px;
				position: relative;
				padding-left: 19px;
				&:before{
				    content: '';
				    display: block;
				    width: 10px;
				    height: 10px;
				    background: #ff791e;
				    position: absolute;
				    top: 3px;
				    border-radius: 50%;
				    left: 0;
				}
			}
		}

	}
	&__p{
	    margin: 0 0 10px;
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 15px;
	}
	&__wrapFloat{
		&:after{
	    		content:'';
				display: block;
				clear:both;
	    	}
	}
	&__textLink{
		color: #003c5a;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
			color: #ff791e;
		}
		&--block{
			margin-bottom:15px;
			display: inline-block;
		}
	}
	&__textIMg{
		text-align: left;
		margin-bottom: 30px;
		margin-top: 30px;
		& img{
			max-width: 100%
		}
		&--center{
			text-align: center;
		}
		&--float{
			float: left;
			margin-right: 20px;
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
	&__textList{
		margin: 30px 0;
	}
	&__textItem{
		margin-bottom: 15px;
		position: relative;
		padding-left: 19px;
		&:before{
		    content: '';
		    display: block;
		    width: 10px;
		    height: 10px;
		    background: #ff791e;
		    position: absolute;
		    top: 3px;
		    border-radius: 50%;
		    left: 0;
		}
	}
}

.b-social{
	&__link{

	}
}


.b-header{
	position: relative;
	
	&__top{
		background: #075a82;
	}
	&__feedback{
		line-height: 40px;
		display: inline-block;
		margin-right: 6%;
		@media screen and (max-width: 998px) {
		    margin-right: 2%;
		}

	}
	&__feedback-link{
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		font-size: 11px;
		color: #fff;
		padding-left: 40px;
		position: relative;
		&:hover{
			color: #ff8a5e;
		}
		&:before{
			content:'';
			display: block;
			position: absolute;
			left: 0;
			top: -9px;
			width: 27px;
			height: 27px;
			
		}
		&--type1:before{
			background: url(../img/sprite.png) 0 0 no-repeat;
		}
		&--type2:before{
			background: url(../img/sprite.png) -27px 0 no-repeat;
		}
		&--type3:before{
			height: 28px;
			background: url(../img/sprite.png) -53px 0 no-repeat;
		}
		&:hover:before{
			transition: all 1s;
			-ms-transform: rotate3d(3, 1, 0, 360deg);
			-webkit-transform: rotate3d(3, 1, 0, 360deg);
			transform: rotate3d(3, 1, 0, 360deg);
		}
	}
	&__cabinet{
		line-height: 40px;
		position: relative;
	}
	&__cabinet-link{
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		font-size: 11px;
		color: #fff;
		text-decoration: underline;
		position: relative;
		&:hover{
			color: #ff791e;
			text-decoration: none;
		}
		&:before{
			content:'';
			display: block;
			position: absolute;
			width: 8px;
			height: 5px;
			right: -15px;
			top: 19px;
			transition: all 0.5s;
			background: url(../img/sprite.png) -9px -29px no-repeat;

		}
		&--register{
			margin-left: 50px;
			&:before{
				display: none;
			}
		}
	}
	&__cabinetBlock{
		position: relative;
		display: inline-block;
		&:hover{
			& .b-header__cabinetOption{
				display: block;
			}
			& .b-header__cabinet-link{
				&:before{
					top: 23px;
				}
			}
		}
	}
	&__cabinetOption{
		position: absolute;
		z-index:1;
		display: none;
		background: #fff;
		padding: 0px 20px;
		width: 200px;
		left: 0;
		top: 80%;
		border: 1px solid #ccc;
		border-radius: 0 0 5px 5px;
	}
	&__cabinetOption-list{
		margin-bottom: 0;
	}
	&__cabinetOption-link{
		text-decoration: none;
		&:hover{
			color: #ff791e;
			text-decoration: none;
		}
	}


	&__logo{
		min-height: 140px;
		line-height: 140px;
	}
	&__logo-link{
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		& img{
			max-width: 100%;
		}
	}

	&__topmenu{
		border-bottom: 1px solid #d5d5d5;
	}
	&__topmenu-list{
		display: inline-block;
	    width: 100%;
	    text-align: justify;
	    line-height: 0;
	    font-size: 1px;
	    vertical-align: middle;
	    margin-bottom: 0;
	    margin: 37px 0 30px;
	    @media screen and (max-width: 991px) {
		    margin: 0px 0 5px;
		} 
        &:after{
        	width: 100%;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            content: '';
            display: inline-block;
        }
	}
	&__topmenu-item{
		display: inline-block;
        text-align: left;
        line-height: normal;
        font-size: 14px;
        vertical-align: top;
        @media screen and (max-width: 991px) {
			margin: 3px;
			display: block;
        }
	}
	&__topmenu-link{
		font-size: 16px;
		color: #003c5a;
		&:hover{
			text-decoration: none;
			color: #ff791e;
		}
	}
	&__main-option-border{
		border-left: 1px solid #d4d4d4;
	}
	&__main-option{
		line-height: 17px;
		text-align: right;
		margin: 29px 0;
	}
	&__option{
		display: none;
		vertical-align: middle;
		line-height: normal;
		position: relative;
		text-align: left;
		display: none;
		margin-right: 8px;
		&:focus{
			outline:none;
		}
		@media screen and (max-width: 998px) {
			margin: 0 10px 10px;
        }
		&--active{
			display: inline-block;
		}
		&:before{
			content:'';
			display: block;
		}
		&--basket{
			cursor: pointer;
			display: inline-block;
		}
		&--share:before{
			width: 34px;
			height: 29px;
			background: url('../img/sprite.png') -80px 0px no-repeat;
		}
		&--like:before{
			width: 33px;
			height: 28px;
			background: url('../img/sprite.png') -114px 0px no-repeat;
		}
		&--basket:before{
			width: 32px;
			height: 29px;
			background: url('../img/sprite.png') -71px -43px no-repeat;
		}
		&:hover:after{
			top:0
		}
		&[data-number]:after{
			content:attr(data-number);
			display: block;
			font-size: 11px;
			color: #fff;
			width: 20px;
			height: 20px;
			line-height: 20px;
			background: #f56e3c;
			border-radius: 50%;
			text-align: center;
			position: absolute;
		    top: -10px;
    		right: -8px;
    		transition: all 0.5s;
		}
	}


	&__bottommenu{
		padding: 16px 30px 16px 0;
		@media screen and (max-width: 991px) {
		    left: -24%;
		    width: 123%;
		    position: relative;
        }
        @media screen and (max-width: 766px){
        	position:relative;
        	left:0;
        	width: 100%;
        }	
	}
	&__botmenu-list{
		display: inline-block;
	    width: 100%;
	    text-align: justify;
	    line-height: 0;
	    font-size: 1px;
	    vertical-align: middle;
	    margin-bottom: 0;
	    @media screen and (max-width: 766px) {
		    display: none;
		    position: absolute;
		    left: -15px;
		    top: 100%;
		    z-index: 10;
		    width: 250px;
		    margin-top: -60px;
        }
        &:after{
        	width: 100%;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            content: '';
            display: inline-block;
        }
	}
	&__botmenu-item{
		display: inline-block;
		font-size: 15px;
		line-height: normal;
		position: relative;
		@media screen and (max-width: 766px) {
			display: block;
		}
		&--option{
			margin-top: 30px;
		}
	}
	&__botmenu-link{
		font-size: 15px;
		color: #003c5a;
		&:hover{
			color: #ff791e;
			//color: #2d2d2d;
			text-decoration: none;
		}
		&:focus{
			color: #2d2d2d;
			text-decoration: none;	
		}
		&--hot{
			color: #c83750;
		}
		&.active{
			font-weight: bold;
			color: #ff791e;

		}
		@media screen and (max-width: 968px) {
			padding: 0 2px;
		}
		@media screen and (max-width: 766px) {
		    display: block;
		    background: #fff;
		    padding: 7px 10px;
	        border-bottom: 1px solid #ccc;
		}
	}
	&__submenu-list{
		display: none;
		position: absolute;
		width: 210px;
		z-index: 10;
		background: #fff;
		top: 100%;
		left: -20px;
		padding-top: 25px;
		border-radius: 3px;
		@media screen and (max-width: 766px) {
			position: static;
			width: 100%;
			padding-top: 0;
		}
		& > li > .b-header__submenu-list{
			position: static;
			padding-top: 0;
			padding-left: 0px;
			& >li >a{
				padding-left: 45px;
			}
		}
	}
	&__submenu-itemt{
		display: block;
		min-height: 25px;
		line-height: 25px;
		&--active{
			& > .b-header__submenu-list{
				display: block;
			}
		}
	}
	&__submenu-link{
		vertical-align: middle;
		font-size: 15px;
		line-height: normal;
		color: #003c5a;
		display: block;
		padding: 5px 25px;
		&:hover{
			background: #f56e3c;
			color: #fff;
			
			text-decoration: none;
		}
		&.active{
			//background: #f56e3c;
			color: #f56e3c;
			text-decoration: none;
		}
		&:focus{
			text-decoration: none;
		}
		@media screen and (max-width: 766px) {
			display: block;
			padding: 7px 10px 7px 20px;
	        border-bottom: 1px solid #ccc;
		}
	}
	
	&__search{
		position: absolute;
	    right: 15px;
	    top: auto;
	    bottom: 15px;
	    @media screen and (max-width: 991px) {
			position: absolute;  
			right: -22px;
	    	top: 15px;
	    }
		@media screen and (max-width: 766px) {
			position: absolute;  
			right: 14px;
			top: auto;
			bottom: 42px;
	    }
	}
	&__search_block{
		display: none;
	    position: absolute;
	    right: 0;
	    top: -2px;
	    width: 200px;
	}
	&__search-show{
		width: 18px;
		height: 18px;
		display: block;
		transition: all 0.5s;
		background: url('../img/sprite.png') -62px -76px no-repeat;
		&:hover{
			cursor: pointer;
			transform: rotate(90deg);
		}
	}
	&__search-input{
		border: 1px solid #333;
		padding: 3px 10px;
		font-size: 13px;
		color: #000;
		width: 100%;
		display: block;
	}
	&__search-button{
		width: 18px;
	    height: 18px;
	    display: block;
	    background: none;
	    border: none;
	    position: absolute;
	    top: 2px;
	    right: 10px;
		background: url('../img/sprite.png') -62px -76px no-repeat;
		&:hover{
			box-shadow: none;
		}
	}

}
.b-searchForm{
	position: absolute;
    top: 90%;
    right: -14px;
    z-index: 1;
	min-width: 200px;
	text-align: center;
	display: none;
	@media screen and (max-width: 766px) {
		top: 30%;
	}

	&__form{
		display: inline-block;
		background: -moz-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
		background: -ms-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
		background: -o-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
		background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
		position: relative;
		border-radius: 5px;
		padding: 4px;
	}
	&__open{
		width: 18px;
		height: 18px;
		display: block;
		cursor: pointer;
		background: url('../img/sprite.png') -62px -76px no-repeat;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		position: absolute;
	    right: 0px;
	    bottom: 15px;
	    @media screen and (max-width: 766px) {
		 	right: 13px;
	    	bottom: 45px;
		}	
		&:hover{
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
		}
	}
	&__search{
		width: 80px;
		height: 32px;
		line-height: 32px;
		color:#6E7074;
		text-shadow: 0 1px 0 #FFF;
		-moz-transition: all .2s ease-out;
		-webkit-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;  
		padding: 0 30px 0 6px; 
		background: -moz-linear-gradient(#BCBCBC, #EBEBEB);
		background: -ms-linear-gradient(#BCBCBC, #EBEBEB);
		background: -o-linear-gradient(#BCBCBC, #EBEBEB);
		background: -webkit-linear-gradient(#BCBCBC, #EBEBEB); 
		background-repeat: no-repeat; 
		background-position: 100% 50%, 100% 100%;
		border: 1px solid #747474;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF; 
		&:-moz-placeholder {color: Chocolate;}
		&::-webkit-input-placeholder {color: Chocolate;}
		&:-ms-input-placeholder {color: Chocolate;}
		&:focus{
			width: 180px;
			box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
			color: #25464D;
			background-image: -moz-linear-gradient(#9CC2CA, #DFECEF);
			background-image: -ms-linear-gradient(#9CC2CA, #DFECEF);
			background-image: -o-linear-gradient(#9CC2CA, #DFECEF);
			background-image: -webkit-linear-gradient(#9CC2CA, #DFECEF);
		}
	}
	&__button{
		width: 18px;
		height: 18px;
		display: block;
		cursor: pointer;
		position: absolute;
		right: 9px;
    	top: 11px;
		border:none;
		background: url('../img/sprite.png') -62px -76px no-repeat;
		&:focus{
			outline: none;
			
		}
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		&:hover{
	        box-shadow: none;
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
		}
	}
}




.b-basket{
	display: none;
	position: absolute;
	top: 100%;
	text-align: left;
	z-index: 10;
	right: 0;
	padding: 20px;
	background: #fff;
	width: 300px;
	&--product-yes{
		& .b-basket__not-product{
			display: none;
		}
		& .b-basket__product{
			display: block;
		}
	}
	&__not-product{
		display: block;
		font-size: 12px;
		color: #999999;
	}
	&__product{
		display: none;
	}
	&__product-number{
		font-size: 12px;
		color: #999;
		margin-bottom: 10px;
	}
	// &__listWrap{
	// 	max-height:250px;
	// 	width: 100%;
	// 	overflow: hidden;
	// }
	// &__list{
	//     height: 100%;
	//     width: 106%;
	//     max-height: 250px;
	//     overflow-y: scroll;
	//     overflow-x: hidden;
	// }
	&__item{
		position: relative;
		margin-bottom: 20px;
		min-height: 80px;
		&:hover .b-basket__close{
			background: url(../img/sprite.png) -82px -75px no-repeat;
		}
	}
	&__img{
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
	    height: 80px;
	    line-height: 78px;
	    overflow: hidden;
	    border: 1px solid #ccc;
		& img{
			max-width: 100%;
			vertical-align: middle;
		}
	}
	&__describe{
		padding-left: 90px;
	}
	&__title{
		font-size: 12px;
		color: #003c5a;
		margin: 0;
		padding-right: 10px;
		display: inline-block;
	}
	&__detal{
		color: #999;
		font-size: 12px;
		margin-bottom: 10px;
	}
	&__item-price{
		font-size: 16px;
		color: #aa2d0a;
	}
	&__total-price{
		text-align: right;
		font-size: 12px;
		color: #707070;
		margin-bottom: 15px;
		& span{
			color: #aa2d0a;
			font-size: 20px;
		}
	}
	&__button1{
		color: #707070;
		text-transform: uppercase;
		font-size: 12px;
		float: left;
		padding: 5px 10px;
		border: 1px solid #333;
	    line-height: 20px;
   		height: 29px;
		&:hover{
			color: #ff791e;
			text-decoration: none;
		}
	}
	&__button2{
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		float: right;
		padding: 5px 10px;
		background: #f56e3c;
		&:hover{
			text-decoration: none;
			color: #fff;
			box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
		}
	}
	&__close{
		position: absolute;
		right: 0px;
		top: 5px;
		width: 9px;
		height: 9px;
		cursor: pointer;
		background: url(../img/sprite.png) -82px -85px no-repeat;
	}
}



.top__button{
	top: auto;
    bottom: 80px; 
	@media screen and (max-width: 766px) {
		display: block;

    }
}


.b-mainslider{
	position: relative;
	&__list{
		
	}
	&__item{
		background-size: cover;
		float: left;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		background-position: center top;
	}
	&__text{
		background: rgba(0,0,0,0.5);
		margin: 191px auto 200px auto;
	    text-align: center;
	    padding: 15px 0 30px;
		max-width: 910px;
	}
	&__title{
		font-size: 72px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-family:'HelveticaNeueCyr-Black', sans-serif;
		@media screen and (max-width: 766px) {
			font-size: 41px;
	    }
	}
	&__detal-text{
		font-size: 22px;
		color: #fff;
		margin-bottom: 45px;
		@media screen and (max-width: 766px) {
			font-size: 18px;
	    }
	}
	&__link{
		display: inline-block;
		padding: 10px 50px;
		font-size: 16px;
		color: #fff;
		border: 1px solid #fff;
		font-family: 'HelveticaNeueCyr-Light',sans-serif;
		&:hover{
			text-decoration: none;
			color: #fff;
			box-shadow: inset 0 0 20px rgba(255,255,255,0.5)
		}
	}
	&__nav{
		width: 90px;
		height: 90px;
		background: rgba(255,255,255,0.3);
		border: 1px solid #fff;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		@media screen and (max-width: 766px) {
			width: 45px;
			height: 45px;
			top: 66%;
	    }
		&--left{
			left: 30px;
			&:before{
				background: url('../img/sprite.png') -2px -34px no-repeat;
			}
			@media screen and (max-width: 766px) {
				left:0;
		    }
		}
		&--right{
			right: 30px;
			&:before{
				background: url('../img/sprite.png') -15px -34px no-repeat;
			}
			@media screen and (max-width: 766px) {
				right:0;
		    }
		}
		&:hover{
			background: rgba(255,255,255,0.6);
			cursor:pointer;
		}
		&:before{
			content:'';
			width: 13px;
			height: 23px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			top: 50%;
			margin-top: -11px;
		}

	}
}




.b-footer{
	color: #fff;
	font-size: 14px;
    display: table-row;
    height: 1px;
	&__top{
		background: #075a82;
		border-bottom:1px solid #397b9b;
		padding: 50px 0 25px;
	}
	&__bottom{
		background: #075a82;
		line-height: 55px;
		text-align: center;
	}
	&__trademark{
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
	}
	&__title{
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 0;
		position: relative;
		border-bottom: 1px solid #858f9b;
		margin-bottom: 45px;
	}
	&__item:last-child a{
		border-bottom: none;
	}
	&__link{
		font-size: 14px;
		color: #fff;
		display: block;
		padding: 10px 10px;
		border-bottom: 1px solid #357797;
		&:hover{
			background: #397b9b;
			text-decoration: none;
			color: #fff;
		}
	}
	&__logo{
		margin-bottom: 15px;
		display: block;
		& img{
			max-width: 100%;
		}
	}
	&__text{
		font-size: 14px;
		color: #fff;
		margin-bottom: 10px;
		line-height: 24px;
	}
	&__social-item{
		display: inline-block;
		margin-right: 10px;
	}
	&__social-link{
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		border-radius: 50%;
		position: relative;
		display: block;
		&--vk:before{
			width: 24px;
			height: 14px;
			margin-left: -12px;
			margin-top: -7px;
			background: url('../img/sprite.png') -1px -57px no-repeat;
		}
		&--vk:hover{
			border: 1px solid #bb3750;
			&:before{
				background: url('../img/sprite.png') 0 -80px no-repeat;
			}
		}
		&--f:before{
			width: 9px;
			height: 18px;
			margin-left: -5px;
			margin-top: -9px;
			background: url('../img/sprite.png') -27px -57px no-repeat;
		}
		&--f:hover{
			border: 1px solid #bb3750;
			&:before{
				background: url('../img/sprite.png') -28px -77px no-repeat;
			}
		}
		&--g:before{
			width: 17px;
			height: 18px;
			margin-left: -8px;
			margin-top: -9px;
			background: url('../img/sprite.png') -39px -57px no-repeat;
		}
		&--g:hover{
			border: 1px solid #bb3750;
			&:before{
				background: url('../img/sprite.png') -39px -77px no-repeat;
			}
		}
		&:before{
			content:'';
			display: block;
			top: 50%;
			left: 50%;
			position: absolute;
		}
	}
	&__partner{
		margin-bottom: 15px;
		display: block;
		&:hover{
			text-decoration: none;
		}
		&:hover .b-footer__partner-img{
			left: 30px;
		}
		&:hover .b-footer__partner-text{
			text-decoration: none;
			color: #ff791e;
		}
	}
	&__partner-img{
		max-width: 100%;
		margin-bottom: 10px;
		position: relative;
		left:0;
		transition: all 0.5s;
	}
	&__partner-text{
		font-size: 14px;
		color: #fff;
		display: block;

	}
	&__payment-item{
		display: inline-block;
		margin-right: 15px;
	}
	&__payment-link{
		width: 40px;
		height: 35px;
		position: relative;
		top:0;
		display: block;
		transition: all 0.5s;
		&--type1{
			background: url('../img/sprite.png') -2px -95px no-repeat;
		}
		&--type2{
			background: url('../img/sprite.png') -42px -95px no-repeat;
		}
		&--type3{
			background: url('../img/sprite.png') -80px -95px no-repeat;
		}
		&:hover{
			top: 5px;
		}
	}
	&__contact-item{
		margin-bottom: 15px;
		padding: 10px 0 10px 80px;
		line-height: 60px;
		position: relative;
		&:before{
			content:'';
			display: block;
			width: 60px;
			height: 60px;
			border: 1px solid #fff;
			position: absolute;
			left:0;
			top:10px;
			border-radius: 50%;
		}
		&:after{
			display: block;
			content: '';
			position: absolute;
		}
		&--type1:after{
			width: 11px;
			height: 17px;
		    left: 24px;
   			top: 32px;
			background: url('../img/sprite.png') -82px -27px no-repeat;
		}
		&--type2:after{
			width: 15px;
			height: 16px;
		    left: 22px;
    		top: 33px;
			background: url('../img/sprite.png') -97px -27px no-repeat;
		}
		&--type3:after{
			width: 19px;
			height: 15px;
			left: 21px;
    		top: 33px;
			background: url('../img/sprite.png') -114px -27px no-repeat;
		}
	}
	&__contact-content{
		line-height: normal;
		display: inline-block;
		vertical-align: middle;
	}
	&__contact-text{
		line-height: 19px;
	}
	&__contact-link{
		display: block;
		color: #fff;
		line-height: 19px;
		&:hover{
			text-decoration: none;
			color: #ff791e;
		}
	}	
}


.b-mark{
	padding: 30px 0 40px;
	min-height: 145px;
	position: relative;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;

	&__list{
		margin-bottom: 0;
	}
	&__item{
		display: inline-block;
		vertical-align: middle;	
		text-align: center;
	}
	&__link{
		display: block;
		width: 150px ;
		padding: 0 20px;
		& img{
			max-width: 100%;
		}
	}
	&__paginator{
		position: absolute;
		left: 50%;
		bottom: 10px;
		font-size: 0;
		min-width: 200px;
		margin-left: -100px;
		text-align: center;
		& a{
			width: 10px;
			display: inline-block;
			margin: 0 5px;
			font-size: 0;
			height: 10px;
			border-radius: 50%;
			background: #b2b2b2;
			&.selected{
				background: #f56e3c;
			}
		}
	}
}


.b-actions{
	padding: 40px 0 20px;
	&__list{
		margin-bottom: 25px;
	}
	&__main-title{
		color: #363636;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 45px;
		font-family: 'HelveticaNeueCyr-Black',sans-serif;
	}
	&__list{
		font-size: 0;
	}
	&__item{
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		width: 32%;
		position: relative;
		padding-bottom: 20px;
		margin-right: 2%;
		@media screen and (max-width: 766px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
		&:nth-child(3n){
			margin-right: 0;
		}
		&:hover .b-actions__title{
			color: #ff791e;
		}
	}
	&__wrap-img{
		margin-bottom: 20px;
		& img{
			max-width: 100%;
		}
	}
	&__option{
		margin-bottom: 10px;
	}
	&__date{
		font-size: 12px;
		color: #8c8c8c;
	}
	&__coment{
		font-size: 12px;
		color: #8c8c8c;
		&:hover{
			color: #ff791e;
		}
	}
	&__title{
		display: block;
		font-size: 18px;
		color: #383838;
		margin-bottom: 15px;
		font-weight: bold;
	}
	&__text{
		font-size: 14px;
		color: #838383;
		margin-bottom: 15px;
		line-height: 18px;
		min-height: 85px;
	}
	&__detal{
		padding: 5px 0 5px 20px;
		position: absolute;
		font-size: 14px;
		color: #8c8c8c;
		left:0;
		bottom: 0;
		&:hover{
			color: #ff791e;
		}
		&:before{
			width: 17px;
			content:'';
			display: block;
			height: 17px;
			border: 1px solid #8c8c8c;
			border-radius: 50%; 
			position: absolute;
			left: 0;
			top:5px;
		}
		&:after{
			content:'';
			display: block;
			width: 5px;
			height: 9px;
			position: absolute;
			left:6px;
			top: 9px;
			background: url('../img/sprite.png') -75px -29px no-repeat;
		}
	}
	&__about{
		min-height: 222px;
		padding: 25px;
		position: relative;
		border: 3px solid #f56e3c;
		font-size: 0;
		@media screen and (max-width: 766px) {
			margin-bottom: 20px;
		}
	}
	&__about-textblock{
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		width: 65%;
	}
	&__about-img{
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		width: 35%;
		padding-right: 15px;
		& img{
			max-width: 100%;
		}
	}
	
	&__about-title{
		position: relative;
		font-weight: bold;	
		color: #696d74;
		font-size: 30px;
		padding: 10px 0;
		margin: 0 0 10px;
		&:before{
			content:'';
			display: block;
			width: 85px;
			height: 1px;
			background: #000;
			position: absolute;
			left:0;
			bottom: 0;
		}
	}
	&__about-text{
		font-size: 14px;
		line-height: 24px;
		color: #696d74;
	}
}

.b-novelty{
	padding: 50px 0 0px;
	&__list{
		padding-bottom: 50px;
		
		
	}
	&__item{
		width: 270px;
		max-width:283px;
		display: inline-block;
		padding: 0 8px;
		position: relative;
		vertical-align: top;
		&--sale{
			width: 32%;
			margin-right:2px;
			
			@media screen and (max-width: 680px) {
				width: 48%;
				margin: 0 0 20px;
			}
			@media screen and (max-width: 420px) {
				width: 100%;
				margin: 0 0 20px;
			}
			&:nth-child(3n){
				margin-right: 0;
			}
			& .b-novelty__img{
				min-height: 200px;
				line-height: 200px;
			}
			& .b-novelty__size-text{
				text-align: left;
			}
			& .b-novelty__hide-block{
				top: 165px;
			}
		}

		&:hover{
			box-shadow: 1px 1px 30px rgba(0,0,0,0.3),
						-1px 1px 30px rgba(0,0,0,0.3);
			& .b-novelty__hide-block{
				display: block !important;
				box-shadow: 1px 1px 30px rgba(0,0,0,0.3),
						-1px 1px 30px rgba(0,0,0,0.3);
			}

		}
	}
	&__slider{
		position: relative;
		&--type1 .caroufredsel_wrapper{
			min-height: 430px;
			margin-bottom: 0;
		}
		&:hover{
			& .b-novelty__nav{
				display: block !important;

			}
		}
	}
	&__img{
		margin-bottom: 15px;
		min-height: 270px;
		//padding: 0 9px;
		line-height: 270px;
		text-align: center;
		//overflow: hidden;
		position: relative;
		display: block;
		&[data-discout]{
			&:before{
			    content: attr(data-discout);
			    display: block;
			    line-height: normal;
			    padding: 6px 5px;
			    font-size: 30px;
			    font-weight: bold;
			    border-radius: 5px 0 0 5px;
			    text-transform: uppercase;
			    color: #fff;
			    background: #f56e3c;
			    position: absolute;
			    top: 0;
			    right: -9px;
			}
			&:after{
				content:'';
				width: 0;
				height: 0;
				position: absolute;
				top: 44px;
				right: -9px;
				border-top: 10px solid #992809; 
				border-right: 10px solid transparent;
			}
		}
		img{
			vertical-align: middle;
			max-width: 100%;
		}
	}
	&__detal{
		font-size: 0;
	}
	&__detal-left{
		display: inline-block;
		font-size: 14px;
		width: 50%;
		text-align: left;
	}
	&__name{
		color: #000;
		margin: 0;
		&--month{
			font-size: 20px;
		}
	}
	&__type{
		color: #b2b2b2;
		&--month{
			font-size: 20px;	
		}
	}
	&__detal-right{
		font-size: 14px;
		text-align: right;
		display: inline-block;
		width: 50%;
		
		font-family: 'HelveticaNeueCyr-Light',sans-serif;
	}
	&__ptice{
		font-size: 17px;
		color: #aa2d0a;
		&--month{
			font-size: 24px;
		}
	}
	&__ptice-old{
		color: #8c8c8c;
		font-size: 12px;
		text-decoration: line-through;
		&--month{
			font-size: 14px;	
		}
	}


	&__hide-block{
		display: none;
		position: absolute;
		z-index: 2;
		left:0;
		top: 235px;
		width: 100%;
		background: #fff;
	}
	&__option-list{
		line-height: 50px;
		background: #6a9cb4;
		text-align: center;
	}
	&__option-item{
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		margin: 0 10px;
	}
	&__option-link{
		display: block;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		background: #fff;
		position: relative;
		&:before{
			content:'';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&--basket{
			&.active{
				background: #f56e3c;
				&:before{
					background: url('../img/sprite2.png') 0 -43px no-repeat;	
				}
			}
			&:before{
			    width: 15px;
			    height: 15px;
			    margin-top: -7px;
			    margin-left: -10px;
				background: url('../img/sprite2.png') 0 -28px no-repeat;
			}
		}
		&--like{
			&.active{
				background: #f56e3c;
				&:before{
					background: url('../img/sprite2.png') 0 0px no-repeat;	
				}
			}
			&:before{
				width: 17px;
				height: 14px;
				margin-top: -7px;
				margin-left: -9px;
				background: url('../img/sprite2.png') 0 -14px no-repeat;
			}
		}
		&--share{
			&.active{
				background: #f56e3c;
				&:before{
					background: url('../img/sprite2.png') 0 -68px no-repeat;	
				}
			}
			&:before{
				width: 16px;
				height: 10px;
				margin-top: -5px;
				margin-left: -8px;
				background: url('../img/sprite2.png') 0 -58px no-repeat;
			}

		}
	}

	&__size{
		padding: 15px;
	}
	&__size-text{
		font-size: 14px;
		color: #707070;
		margin: 0;  
	}
	&__param{
		display: inline-block;
		&--type1{
			width: 12px;
			height: 5px;
			background: url('../img/sprite2.png') -17px 0 no-repeat;
		}
		&--type2{
			width: 9px;
			height: 9px;
			background: url('../img/sprite2.png') -18px -5px no-repeat;
		}
		&--type3{
			width: 5px;
			height: 12px;
			background: url('../img/sprite2.png') -18px -16px no-repeat;
		}
		&--type4{
			width: 9px;
			height: 9px;
			background: url('../img/sprite2.png') -17px -28px no-repeat;
		}
	}
	&__total-price{
		text-align: right;
		line-height: 19px;
		padding: 0 15px 10px 15px;
		font-family: 'HelveticaNeueCyr-Light',sans-serif;
	}
	&__old-price{
		font-size: 12px;
		color: #8c8c8c;
		text-decoration: line-through;
	}
	&__new-price{
		font-size: 17px;
		color: #000;
	}
	&__benefit-price{
		font-size: 12px;
		color: #c83750;
	}
	&__nav{
		display: none !important;
		width: 52px;
		height: 52px;
		border: 1px solid #e5e5e5;
		background: #fff;
		position: absolute;
		top: 30%;
		border-radius: 50%;
		margin-top: -26px;
		cursor: pointer;
		z-index: 10;
		@media screen and (max-width: 766px) {
			display: block !important;
			width: 32px;
			height: 32px;
	    }
		&--left{
			left:0;
			&:before{
				background: url('../img/sprite.png') -62px -45px no-repeat;
				@media screen and (max-width: 766px) {
					top: 10px;
					left: 10px;
			    }
			}
			&:hover{
				border: 1px solid #d35f73;
				&:before{
					transform: rotate(180deg);
					background: url('../img/sprite.png') -56px -45px no-repeat;
				}
			}
		}
		&--right{
			right: 0;
			&:before{
			transform: rotate(180deg);
				background: url('../img/sprite.png') -62px -45px no-repeat;
			}
			&:hover{
				border: 1px solid #d35f73;
				&:before{
					transform: rotate(360deg);
					background: url('../img/sprite.png') -56px -45px no-repeat;
				}
			}
		}
		&:before{
			content:'';
			display: block;
			width: 7px;
			height: 11px;
			position: absolute;
			top: 19px;
			left: 21px;
			@media screen and (max-width: 766px) {
				top: 10px;
				left: 13px;
		    }
		}
	}

}

.b-category{
	margin-bottom: 25px;
	& .b-novelty__img{
		&:before{
			display: none;
		}
		&:after{
			display: none;
		}
		&--sell{
			&:before{
				display: block;
				width: 90px;
				content:'';
				height: 91px;
			    right: -10px;
    			top: -20px;
    			position: absolute;
				background: url('../img/sell_50.png') 0 0 no-repeat;
			}
		}
	}
	&__block{
		background-position: center top;
		background-size: cover;
		height: 280px;
		position: relative;
		overflow:hidden;
		border-top: 1px solid transparent;
		&--type1{
			&.active{
				& .b-category__text-block1{
					margin: 0;
					left:0;
					height: 100%;
				}
				& .b-category__title1{
					right: 10%;
					top: 80%;
				}
				& .b-category__text1{
					right: 80%;
					top: 10%;
					@media screen and (max-width: 766px) {
						right: 65%;
					}
				}
				& .b-category__button--type1{
				    right: 42%;
				    top: 44%;
				    padding: 10px 20px;
				    height: 36px;
				    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
				    @media screen and (max-width: 766px) {
						right: 33%;
					}
				}
			}
		}
		&--type2{
			padding: 22px;
			&:before{
				content:'';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left:0;
				top:0;
				background: rgba(0,0,0,0.5);
			}
			&.active{
				// & .b-category__text-content{
				// 	height: 100%;
				// }
				& .b-category__title2{
					top: -50%;
    				left: 20%;
    				position: absolute;
    				@media screen and (max-width: 766px) {
					    top: -20%;
    					left: 5%;
					}
				}
				& .b-category__text2{
					top: 120%;
					position: absolute;
    				left: 7%;
    				@media screen and (max-width: 766px) {
						top: 150%;
					}
				}
				& .b-category__button--type2{
					opacity:1;
				    right: 42%;
				    top: 44%;
				    padding: 10px 20px;
				    height: 36px;
				    visibility: visible;
				    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
				    @media screen and (max-width: 766px) {
						right: 29%;
					}
				}
			}
		}
	}
	&__text-block1{
		background: rgba(21,18,32,0.7);
		width: 100%;
		left: 25%;
		height: 180px;
		margin: 10% 0 45px auto;
		position: relative;
		padding: 25px;
		transition: all 0.5s;
	}
	&__title1{
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
		position: absolute;
		right: 30%;
		top: 13%;
		transition: all 0.5s;
		font-family: 'HelveticaNeueCyr-Black',sans-serif;
	}
	&__text1{
		font-size: 24px;
		color: #fff;
		position: absolute;
		right: 30%;
		transition: all 0.5s;
		text-transform: uppercase;
		top: 40%;
	}
	&__button{
		font-size: 11px;
		padding: 5px 10px;
		background: none;
		color: #fff;
		min-height: 25px;
		display: inline-block;
		border: 2px solid #fff;
		transition: all 0.5s;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
			color: #fff;
			box-shadow: inset 0 0 20px rgba(255,255,255,0.5) !important;
		}
		&--type1{
			position: absolute;
			right: 30%;
			bottom: 11%;
			&:hover{
		    	box-shadow: inset 0 0 20px rgba(255,255,255,0.5) !important;
		    }
		}
		&--type2{
			position: absolute;
			right: 30%;
			top: 44%;
			opacity: 0;
			visibility: hidden;
		}
		&--bunner{
		    position: relative;
		    z-index: 5;
		    padding: 8px 30px;
		    font-size: 13px;
		    margin-bottom: 30px;
		    &:hover{
		    	box-shadow: inset 0 0 20px rgba(255,255,255,0.5);
		    }
		}
	}

	&__text-block2{
		overflow: hidden;
		position: relative;
		z-index: 2;
		height: 100%;
		border-top: 5px solid rgba(255,255,255,0.6);
		border-bottom: 5px solid rgba(255,255,255,0.6);
		border-right: 5px solid rgba(255,255,255,0.6);
	}
	&__text-content{
		margin: 12% 0px;
		padding: 10px 0;
		height: 45%;
		position: relative;
		&:before{
			content:'';
			display: block;
			width: 5px;
			height: 400%;
			background: rgba(255,255,255,0.6);
			position: absolute;
			left:0;
			top: 100%;
		}
		&:after{
			content:'';
			display: block;
			width: 5px;
			height: 400%;
			background: rgba(255,255,255,0.6);
			position: absolute;
			left:0;
			bottom: 100%;
		}
	}
	&__title2{
		font-size: 48px;
		position: relative;
		transition: all 0.5s;
		font-family: 'HelveticaNeueCyr-Black',sans-serif;
		color: #fff;
		left:0;
		top:0;
		text-transform: uppercase;
		@media screen and (max-width: 766px) {
			font-size: 29px;
		}	
	}
	&__text2{
		font-size: 18px;
		left:0;
		top:0;
		position: relative;
		transition: all 0.5s;
		color: #fff;
	}

}


.b-month{
	&__slider{
		padding: 10px 50px;
		background: #f2f2f2;
		@media screen and (max-width: 766px) {
			padding: 10px 30px;
		}
	}
	&__item{
		position: relative;
		display: inline-block;
	}
	&__time{
		position: absolute;
		width: 100%;
		left:0;
		top: 50px;
		text-align: center;
	}
	&__time-item{
		 display: inline-block;
		 margin: 0 10px;
		 background: #fff;
		 border-radius: 5px;
		 position: relative;
		 width: 60px;
		 height: 60px;
		 padding-top: 40px;
		 vertical-align: top;
		 color: #8c8c8c;
		 font-size: 12px;
		@media screen and (max-width: 766px) {
			margin: 0 5px;
		}
		& span{
			position: absolute;
			top: 2px;
			font-family: 'HelveticaNeueCyr-Light',sans-serif;
			right: 10px;
			color: #000;
			font-size: 36px;
		}
	}
	&__img{
		margin-bottom: 15px;
		text-align: center;
		line-height: 445px;
		overflow: hidden;
		& img{
			max-width: 100%;
			vertical-align: middle;
			line-height: normal;
		}
	}
	&__nav{
		display: block;
		width: 35px;
		height: 35px;
		border: 1px solid #e5e5e5;
		position: absolute;
		top: 50%;
		border-radius: 50%;
		margin-top: -17px;
		cursor: pointer;
		z-index: 10;
		&:before{
			content:'';
			display: block;
			width: 7px;
			height: 11px;
			position: absolute;
			top: 12px;
			left: 15px;
		}

		&--right{
			right: 15px;
			&:before{
			transform: rotate(180deg);
				background: url('../img/sprite.png') -62px -45px no-repeat;
			}
			&:hover{
				border: 1px solid #d35f73;
				&:before{
					transform: rotate(360deg);
					background: url('../img/sprite.png') -56px -45px no-repeat;
				}
			}
		}
		&--left{
			left:15px;
			&:before{
				left: 12px;
				background: url('../img/sprite.png') -62px -45px no-repeat;
			}
			&:hover{
				border: 1px solid #d35f73;
				&:before{
					transform: rotate(180deg);
					background: url('../img/sprite.png') -56px -45px no-repeat;
				}
			}
		}
		
		
	}
}


.b-sale{
	&__list{
		text-align: center;
	}
}


.b-categorys{
	&__list{
		font-size: 0;
		@media screen and (max-width: 991px) {
			text-align: center;
		}
		&--global{
			& .b-categorys__link{
				
				& span{
					color: #696d74;
				}
				&--globalType1{
					& span{
						color: #fff;
					}
				}
			}
			& .b-categorys__img:before{
				background:none;
			}
		}
		
	}
	&__item{
		display: inline-block;
		width: 32%;
		overflow: hidden;
		position: relative;
		margin-right: 2%;
		margin-bottom: 20px;
		max-height: 260px;
		max-width: 270px;
		@media screen and (max-width: 991px) {
			width: 48%;
			margin: 0 1% 25px;
			height: auto;
		}
		@media screen and (max-width: 425px) {
			width: 100%;
		}
		&:nth-child(3n){
			margin-right: 0;
			@media screen and (max-width: 991px) {
				margin-right: 1%;
			}
		}
		&:hover{
			& img{
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	&__img{
		text-align: center;
		&:before{
			content:'';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index:2;
			background: rgba(0,0,0,0.5);
		}
		& img{
			max-width: 100%;
			-moz-transition: all 0.5s ease-out;
			-o-transition: all 0.5s ease-out;
			-webkit-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}

	}
	&__link{
		position: absolute;
		z-index: 3;
		width: 100%;
		display: block;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0 20px;
		line-height: 260px;
		text-align: center;
		& span{
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			line-height: normal;
		}
	}
}


.b-banner{
	min-height: 180px;
	background-position: center top;
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index:2;
		background: rgba(0,0,0,0.5);
	}
	&__text{
		    text-transform: uppercase;
	    font-size: 31px;
	    line-height: 45px;
	    position: relative;
	    z-index: 5;
	    color: #fff;
	    padding: 70px 0;
		& span{
			display: block;
			color: #d35f73;
		}
	}
}

.b-subscription{
	margin-bottom: 40px;
	&__label-block{
		margin-bottom: 15px;
	}
	&__label{
		cursor: pointer;
	}
	&__mail-block{
		position: relative;
		font-size: 13px;
		color: #000;

	}
	&__mail{
		margin-right: -5px;
		min-width: 160px;
	}
	&__button{
	    border: 1px solid #8d2c3f;
	    background: #d35f73;
	    color: #fff;
	    padding: 2px 7px;
	}
}


.b-breadcrumb{
	margin: 20px 0px 20px;
	&__list{
		overflow: hidden;
 		width: 100%;
 		margin: 0;
	}
	&__item{
		float: left;
 		margin: 0 .5em 0 1em;
	}
	&__link{
		background: #075a82;
		padding: .7em 1em;
		float: left;
		text-decoration: none;
		color: #fff;
		//text-shadow: 0 1px 0 rgba(255,255,255,.5);
		position: relative;
		@media screen and (max-width: 766px) {
			padding: .7em 0.6em;
    		font-size: 12px;
		}
		&:hover{
			background: #f56e3c;
			text-decoration: none;
			color: #fff;
			&:before{
				border-color: #f56e3c #f56e3c #f56e3c transparent;
			}
			&:after{
				border-left-color: #f56e3c;
			}
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -1.5em;
			border-width: 1.5em 0 1.5em 1em;
			border-style: solid;
			border-color: #075a82 #075a82 #075a82 transparent;
			left: -1em;			
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -1.5em;
			border-top: 1.5em solid transparent;
			border-bottom: 1.5em solid transparent;
			border-left: 1em solid #075a82;
			right: -1em;		
		}
		&--active{
			font-weight: bold;
			background: #f56e3c;
			&:before{
				border-color: #f56e3c #f56e3c #f56e3c transparent;
			}
			&:after{
				border-left-color: #f56e3c;
			}
		}
	}
}

.b-pagination{
	width: 100%;
	padding: 20px 0;
	font-size: 0;
	&__left{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: 14px;
	}
	&__right{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: 14px;
		text-align: right;
	}
	&__show{
		color: #696d74;
		font-size: 12px;
		padding-top: 8px;
	}
	&__list{
		text-align: center;
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;
	}
	&__item{
		display: inline-block;
		margin: 0 5px;
		@media screen and (max-width: 766px) {
			margin: 0;
		}
	}
	&__link{
		display: block;
		padding: 5px 10px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #333;
		border-radius: 3px;
		@media screen and (max-width: 766px) {
			padding: 5px 7px;
		}
		&:hover{
			background: #ccc;
			text-decoration: none;
			color: #333;
		}
		&--disabled{
			color: #ccc;
			pointer-events: none;
			&:hover{
				background: #fff;
			}
		}
		&--active{
			color: #ff791e;
			pointer-events: none;
			&:hover{
				background: #fff;
			}
		}
		&--more{
			pointer-events: none;
			border: none;
			&:hover{
				background: #fff;
			}
		}
	}
}

.b-category{
	&__list{
		font-size: 0;
		& .b-novelty__item{
			width: 33.333% !important;
			margin-bottom: 30px;
		}
		// & .b-novelty__img{
		// 	&:before{
		// 		content:'';
		// 		width: 90px;
		// 		height: 90px;
		// 		border-radius:50%;
		// 		background: #ff6e36;
		// 		position: absolute;
		// 		z-index:1;
		// 		top: -45px;
		// 		right: -20px;
		// 	}
		// 	&:after{
		// 		content:attr(data-discout);
		// 		width: 44px;
		// 		height: 62px;
		// 		border-radius:50%;
		// 		background: url('../img/sale_bg.png') 0 0 no-repeat;
		// 		position: absolute;
		// 		z-index:1;
		// 		top: -45px;
		// 		right: -20px;
		// 	}
		// }
	}
}


.b-filter{
	&__line{
		padding: 6px 0;
		font-size: 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
	}
	&__lineLeft{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	&__lineRight{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
	}
	&__screenList{
		display: inline-block;
		margin: 0;
	}	
	&__screenItem{
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 5px;
	}
	&__screenLink{
		display: block;
		height: 100%;
		border: 1px solid transparent;
		// &:hover{
		// 	border: 1px solid #f56e3c;
		// }
		&--type1{
			background: url('../img/screen_1.png') center center no-repeat;
			&:hover{
				background: url('../img/screen_1_hover.png') center center no-repeat;
			}
			&.active{
				border: 1px solid #f56e3c;
				background: url('../img/screen_1_hover.png') center center no-repeat;
			}
		}
		&--type2{
			background: url('../img/screen_2.png') center center no-repeat;
			&:hover{
				background: url('../img/screen_2_hover.png') center center no-repeat;
			}
			&.active{
				border: 1px solid #f56e3c;
				background: url('../img/screen_2_hover.png') center center no-repeat;
			}
		}
	}

	&__sort{
		display: inline-block;
		font-size: 12px;
		color: #696d74;
	}
	&__sortText{
		vertical-align: middle;
	    display: inline-block;
	    padding-top: 7px;
	}
	&__select{
		margin-left: 5px;
	    width: 180px;
	    line-height: 0;
	    min-height: 28px;
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    overflow: hidden;
	    border: solid 1px rgba(151, 151, 151, 0.25);
	    &:before{
    	    content: '';
		    display: block;
		    width: 8px;
		    height: 8px;
		    border-top: 1px solid #696d74;
		    border-right: 1px solid #696d74;
		    transform:rotate(135deg);
		    position: absolute;
		    top: 9px;
		    right: 10px;
		    
	    }
	    & select{
	    	font-size: 12px;
	    	color: #696d74;
	    	font-weight: normal;
		    width: 200px;
		    position: relative;
		    height: 28px;
		    background: none;
		    border: none;
		    &:focus{
		    	outline: none;
		    }
	    }
	}
	&__checkWrap{
		width: 100%;
		display: inline-block;
		position: relative;
		margin-bottom: 10px;
		margin-right: 10px;
		& label{
			display: block;
			padding: 0 5px 0 20px;
			cursor:pointer;
			color: #696d74;
			font-size: 14px;
			font-weight: normal;
			&:before{
				content:'';
				box-sizing:border-box;
				display: block;
				position: absolute;
				width: 14px;
				height: 14px;
				border:1px solid #696d74;
				background: #fff;
				border-radius:3px;
				top: 1px;
				left: 0;			
			}
			&:after{
				content:'';
				box-sizing:border-box;
				display: none;
				position: absolute;
				width: 8px;
				height: 8px;
				top: 4px;
				left: 3px;
				background: #ececec url('../img/check.png') 0 0 no-repeat;			
			}
		}
		& input{

			&:checked + label{
				color: #ff791e;
				&:after{
					display: block;
				}
			}
		}
	}
	&__nav{
		margin-bottom: 60px;
	}
	&__navTitle{
		display: inline-block;
		margin-right: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #696d74;
	}
	&__navBlock{
		display: inline-block;
		position: relative;
	}
	&__navLink{
		color: #696d74;
		font-size: 14px;
		padding-right: 10px;
		margin-right: 10px;
		position: relative;
		&:before{
    	    content: '';
		    display: block;
		    width: 6px;
		    height: 6px;
		    border-top: 1px solid #696d74;
		    border-right: 1px solid #696d74;
		    transform:rotate(135deg);
		    position: absolute;
		    top: 5px;
    		right: -1px;
		    
	    }
		&:hover{
			text-decoration: none;
		    color: #ff791e;
		}
		&:focus{
			text-decoration: none;
		    color: #ff791e;
		}
	}
	&__navContent{
		background: #FFF;
	    position: absolute;
	    width: 180px;
	    display: none;
		left: 0;
		top: 150%;
		z-index: 1;
		padding: 10px 10px;
		border-radius:3px;
		box-shadow:0 0 10px rgba(0,0,0,0.2);
		&--price{
			width: 250px;
		}
	}
	&__priceText{
		font-size: 12px;
		color: #696d74;
		padding-top: 20px;
		& input{
			width: auto;
			display: inline-block;
			border:none;
			font-size: 14px;
			color: #696d74;
			width: 50px;			
		}
		& .b-sliderRange__input{
			text-align: right;
		}
	}
}

