body {
  font-size: 14px;
  line-height: normal;
  font-family: 'HelveticaNeueCyr', sans-serif; }

.b-section {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%; }
.b-section__title {
  padding: 25px 0;
  font-size: 24px;
  color: #696d74;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 35px;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-section__title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 52px;
  height: 3px;
  background: #696d74; }
.b-section__item {
  padding-bottom: 60px; }
.b-section__left-title {
  font-size: 16px;
  font-weight: bold;
  color: #696d74;
  margin: 0 0 10px; }
.b-section__big-bunner {
  margin-bottom: 40px;
  display: block;
  overflow: hidden; }
.b-section__big-bunner img {
  max-width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
@media screen and (max-width: 778px) {
  .b-section__big-bunner {
    display: none; } }
.b-section__big-bunner:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
@media screen and (max-width: 991px) {
  .b-section__left > .b-header__bottommenu {
    width: 100%;
    left: 0; } }
@media screen and (max-width: 778px) {
  .b-section__left > .b-header__bottommenu {
    display: none !important; } }
@media screen and (max-width: 778px) {
  .b-section__left > .b-section__left-title {
    display: none; } }
.b-section__left .b-header__botmenu-item {
  display: block;
  padding: 5px 0; }
.b-section__left .b-header__botmenu-item--active > .b-header__submenu-list {
  display: block; }
.b-section__left .b-header__submenu-list {
  position: static;
  padding-top: 0; }
.b-section__left .b-header__botmenu-link {
  color: #696d74; }
.b-section__left .b-header__submenu-link {
  color: #696d74; }
.b-section__anchor {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
@media screen and (max-width: 768px) {
  .b-section__anchor {
    bottom: 10px;
    right: 10px; } }
.b-section__anchor:hover {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  cursor: pointer; }
.b-section__anchor[data-path=""] {
  display: none; }
.b-section__anchor[data-path="up"] {
  display: block; }
.b-section__anchor[data-path="down"] {
  display: block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.b-section__anchor-link {
  display: block;
  height: 100%;
  width: 100%; }
.b-section__anchor-link:before {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  background: url(../img/sprite.png) -58px -62px no-repeat; }
.b-section__text {
  margin-bottom: 40px; }
.b-section__contentText p {
  margin: 0 0 10px;
  font-size: 15px;
  color: #696d74;
  line-height: 20px;
  margin-bottom: 15px; }
.b-section__contentText p a {
  color: #003c5a;
  text-decoration: underline;
  margin-bottom: 0;
  display: inline-block; }
.b-section__contentText p a:hover {
  text-decoration: none;
  color: #ff791e; }
.b-section__contentText a {
  color: #003c5a;
  text-decoration: underline;
  display: block;
  margin-bottom: 15px;
  display: inline-block; }
.b-section__contentText a:hover {
  text-decoration: none;
  color: #ff791e; }
.b-section__contentText h1 {
  padding: 25px 0;
  font-size: 31px;
  color: #696d74;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-section__contentText h2 {
  padding: 25px 0;
  font-size: 24px;
  color: #696d74;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-section__contentText h3 {
  padding: 25px 0;
  font-size: 18px;
  color: #696d74;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-section__contentText ul {
  margin: 30px 0; }
.b-section__contentText ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 19px; }
.b-section__contentText ul li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #ff791e;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  left: 0; }
.b-section__p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px; }
.b-section__wrapFloat:after {
  content: '';
  display: block;
  clear: both; }
.b-section__textLink {
  color: #003c5a;
  text-decoration: underline; }
.b-section__textLink:hover {
  text-decoration: none;
  color: #ff791e; }
.b-section__textLink--block {
  margin-bottom: 15px;
  display: inline-block; }
.b-section__textIMg {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px; }
.b-section__textIMg img {
  max-width: 100%; }
.b-section__textIMg--center {
  text-align: center; }
.b-section__textIMg--float {
  float: left;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 15px; }
.b-section__textList {
  margin: 30px 0; }
.b-section__textItem {
  margin-bottom: 15px;
  position: relative;
  padding-left: 19px; }
.b-section__textItem:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #ff791e;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  left: 0; }

.b-header {
  position: relative; }
.b-header__top {
  background: #075a82; }
.b-header__feedback {
  line-height: 40px;
  display: inline-block;
  margin-right: 6%; }
@media screen and (max-width: 998px) {
  .b-header__feedback {
    margin-right: 2%; } }
.b-header__feedback-link {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: #fff;
  padding-left: 40px;
  position: relative; }
.b-header__feedback-link:hover {
  color: #ff8a5e; }
.b-header__feedback-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -9px;
  width: 27px;
  height: 27px; }
.b-header__feedback-link--type1:before {
  background: url(../img/sprite.png) 0 0 no-repeat; }
.b-header__feedback-link--type2:before {
  background: url(../img/sprite.png) -27px 0 no-repeat; }
.b-header__feedback-link--type3:before {
  height: 28px;
  background: url(../img/sprite.png) -53px 0 no-repeat; }
.b-header__feedback-link:hover:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  -ms-transform: rotate3d(3, 1, 0, 360deg);
  -webkit-transform: rotate3d(3, 1, 0, 360deg);
  transform: rotate3d(3, 1, 0, 360deg); }
.b-header__cabinet {
  line-height: 40px;
  position: relative; }
.b-header__cabinet-link {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #fff;
  text-decoration: underline;
  position: relative; }
.b-header__cabinet-link:hover {
  color: #ff791e;
  text-decoration: none; }
.b-header__cabinet-link:before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  right: -15px;
  top: 19px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: url(../img/sprite.png) -9px -29px no-repeat; }
.b-header__cabinet-link--register {
  margin-left: 50px; }
.b-header__cabinet-link--register:before {
  display: none; }
.b-header__cabinetBlock {
  position: relative;
  display: inline-block; }
.b-header__cabinetBlock:hover .b-header__cabinetOption {
  display: block; }
.b-header__cabinetBlock:hover .b-header__cabinet-link:before {
  top: 23px; }
.b-header__cabinetOption {
  position: absolute;
  z-index: 1;
  display: none;
  background: #fff;
  padding: 0px 20px;
  width: 200px;
  left: 0;
  top: 80%;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px; }
.b-header__cabinetOption-list {
  margin-bottom: 0; }
.b-header__cabinetOption-link {
  text-decoration: none; }
.b-header__cabinetOption-link:hover {
  color: #ff791e;
  text-decoration: none; }
.b-header__logo {
  min-height: 140px;
  line-height: 140px; }
.b-header__logo-link {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }
.b-header__logo-link img {
  max-width: 100%; }
.b-header__topmenu {
  border-bottom: 1px solid #d5d5d5; }
.b-header__topmenu-list {
  display: inline-block;
  width: 100%;
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  vertical-align: middle;
  margin-bottom: 0;
  margin: 37px 0 30px; }
@media screen and (max-width: 991px) {
  .b-header__topmenu-list {
    margin: 0px 0 5px; } }
.b-header__topmenu-list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block; }
.b-header__topmenu-item {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  vertical-align: top; }
@media screen and (max-width: 991px) {
  .b-header__topmenu-item {
    margin: 3px;
    display: block; } }
.b-header__topmenu-link {
  font-size: 16px;
  color: #003c5a; }
.b-header__topmenu-link:hover {
  text-decoration: none;
  color: #ff791e; }
.b-header__main-option-border {
  border-left: 1px solid #d4d4d4; }
.b-header__main-option {
  line-height: 17px;
  text-align: right;
  margin: 29px 0; }
.b-header__option {
  display: none;
  vertical-align: middle;
  line-height: normal;
  position: relative;
  text-align: left;
  display: none;
  margin-right: 8px; }
.b-header__option:focus {
  outline: none; }
@media screen and (max-width: 998px) {
  .b-header__option {
    margin: 0 10px 10px; } }
.b-header__option--active {
  display: inline-block; }
.b-header__option:before {
  content: '';
  display: block; }
.b-header__option--basket {
  cursor: pointer;
  display: inline-block; }
.b-header__option--share:before {
  width: 34px;
  height: 29px;
  background: url("../img/sprite.png") -80px 0px no-repeat; }
.b-header__option--like:before {
  width: 33px;
  height: 28px;
  background: url("../img/sprite.png") -114px 0px no-repeat; }
.b-header__option--basket:before {
  width: 32px;
  height: 29px;
  background: url("../img/sprite.png") -71px -43px no-repeat; }
.b-header__option:hover:after {
  top: 0; }
.b-header__option[data-number]:after {
  content: attr(data-number);
  display: block;
  font-size: 11px;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #f56e3c;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
.b-header__bottommenu {
  padding: 16px 30px 16px 0; }
@media screen and (max-width: 991px) {
  .b-header__bottommenu {
    left: -24%;
    width: 123%;
    position: relative; } }
@media screen and (max-width: 766px) {
  .b-header__bottommenu {
    position: relative;
    left: 0;
    width: 100%; } }
.b-header__botmenu-list {
  display: inline-block;
  width: 100%;
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  vertical-align: middle;
  margin-bottom: 0; }
@media screen and (max-width: 766px) {
  .b-header__botmenu-list {
    display: none;
    position: absolute;
    left: -15px;
    top: 100%;
    z-index: 10;
    width: 250px;
    margin-top: -60px; } }
.b-header__botmenu-list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block; }
.b-header__botmenu-item {
  display: inline-block;
  font-size: 15px;
  line-height: normal;
  position: relative; }
@media screen and (max-width: 766px) {
  .b-header__botmenu-item {
    display: block; } }
.b-header__botmenu-item--option {
  margin-top: 30px; }
.b-header__botmenu-link {
  font-size: 15px;
  color: #003c5a; }
.b-header__botmenu-link:hover {
  color: #ff791e;
  text-decoration: none; }
.b-header__botmenu-link:focus {
  color: #2d2d2d;
  text-decoration: none; }
.b-header__botmenu-link--hot {
  color: #c83750; }
.b-header__botmenu-link.active {
  font-weight: bold;
  color: #ff791e; }
@media screen and (max-width: 968px) {
  .b-header__botmenu-link {
    padding: 0 2px; } }
@media screen and (max-width: 766px) {
  .b-header__botmenu-link {
    display: block;
    background: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #ccc; } }
.b-header__submenu-list {
  display: none;
  position: absolute;
  width: 210px;
  z-index: 10;
  background: #fff;
  top: 100%;
  left: -20px;
  padding-top: 25px;
  border-radius: 3px; }
@media screen and (max-width: 766px) {
  .b-header__submenu-list {
    position: static;
    width: 100%;
    padding-top: 0; } }
.b-header__submenu-list > li > .b-header__submenu-list {
  position: static;
  padding-top: 0;
  padding-left: 0px; }
.b-header__submenu-list > li > .b-header__submenu-list > li > a {
  padding-left: 45px; }
.b-header__submenu-itemt {
  display: block;
  min-height: 25px;
  line-height: 25px; }
.b-header__submenu-itemt--active > .b-header__submenu-list {
  display: block; }
.b-header__submenu-link {
  vertical-align: middle;
  font-size: 15px;
  line-height: normal;
  color: #003c5a;
  display: block;
  padding: 5px 25px; }
.b-header__submenu-link:hover {
  background: #f56e3c;
  color: #fff;
  text-decoration: none; }
.b-header__submenu-link.active {
  color: #f56e3c;
  text-decoration: none; }
.b-header__submenu-link:focus {
  text-decoration: none; }
@media screen and (max-width: 766px) {
  .b-header__submenu-link {
    display: block;
    padding: 7px 10px 7px 20px;
    border-bottom: 1px solid #ccc; } }
.b-header__search {
  position: absolute;
  right: 15px;
  top: auto;
  bottom: 15px; }
@media screen and (max-width: 991px) {
  .b-header__search {
    position: absolute;
    right: -22px;
    top: 15px; } }
@media screen and (max-width: 766px) {
  .b-header__search {
    position: absolute;
    right: 14px;
    top: auto;
    bottom: 42px; } }
.b-header__search_block {
  display: none;
  position: absolute;
  right: 0;
  top: -2px;
  width: 200px; }
.b-header__search-show {
  width: 18px;
  height: 18px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: url("../img/sprite.png") -62px -76px no-repeat; }
.b-header__search-show:hover {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.b-header__search-input {
  border: 1px solid #333;
  padding: 3px 10px;
  font-size: 13px;
  color: #000;
  width: 100%;
  display: block; }
.b-header__search-button {
  width: 18px;
  height: 18px;
  display: block;
  background: none;
  border: none;
  position: absolute;
  top: 2px;
  right: 10px;
  background: url("../img/sprite.png") -62px -76px no-repeat; }
.b-header__search-button:hover {
  box-shadow: none; }

.b-searchForm {
  position: absolute;
  top: 90%;
  right: -14px;
  z-index: 1;
  min-width: 200px;
  text-align: center;
  display: none; }
@media screen and (max-width: 766px) {
  .b-searchForm {
    top: 30%; } }
.b-searchForm__form {
  display: inline-block;
  background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  position: relative;
  border-radius: 5px;
  padding: 4px; }
.b-searchForm__open {
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  background: url("../img/sprite.png") -62px -76px no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 0px;
  bottom: 15px; }
@media screen and (max-width: 766px) {
  .b-searchForm__open {
    right: 13px;
    bottom: 45px; } }
.b-searchForm__open:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }
.b-searchForm__search {
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #6E7074;
  text-shadow: 0 1px 0 #FFF;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  padding: 0 30px 0 6px;
  background: -webkit-linear-gradient(#BCBCBC, #EBEBEB);
  background-repeat: no-repeat;
  background-position: 100% 50%, 100% 100%;
  border: 1px solid #747474;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF; }
.b-searchForm__search:-moz-placeholder {
  color: Chocolate; }
.b-searchForm__search::-webkit-input-placeholder {
  color: Chocolate; }
.b-searchForm__search:-ms-input-placeholder {
  color: Chocolate; }
.b-searchForm__search:focus {
  width: 180px;
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  color: #25464D;
  background-image: -webkit-linear-gradient(#9CC2CA, #DFECEF); }
.b-searchForm__button {
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 9px;
  top: 11px;
  border: none;
  background: url("../img/sprite.png") -62px -76px no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
.b-searchForm__button:focus {
  outline: none; }
.b-searchForm__button:hover {
  box-shadow: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

.b-basket {
  display: none;
  position: absolute;
  top: 100%;
  text-align: left;
  z-index: 10;
  right: 0;
  padding: 20px;
  background: #fff;
  width: 300px; }
.b-basket--product-yes .b-basket__not-product {
  display: none; }
.b-basket--product-yes .b-basket__product {
  display: block; }
.b-basket__not-product {
  display: block;
  font-size: 12px;
  color: #999999; }
.b-basket__product {
  display: none; }
.b-basket__product-number {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px; }
.b-basket__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 80px; }
.b-basket__item:hover .b-basket__close {
  background: url(../img/sprite.png) -82px -75px no-repeat; }
.b-basket__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 78px;
  overflow: hidden;
  border: 1px solid #ccc; }
.b-basket__img img {
  max-width: 100%;
  vertical-align: middle; }
.b-basket__describe {
  padding-left: 90px; }
.b-basket__title {
  font-size: 12px;
  color: #003c5a;
  margin: 0;
  padding-right: 10px;
  display: inline-block; }
.b-basket__detal {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px; }
.b-basket__item-price {
  font-size: 16px;
  color: #aa2d0a; }
.b-basket__total-price {
  text-align: right;
  font-size: 12px;
  color: #707070;
  margin-bottom: 15px; }
.b-basket__total-price span {
  color: #aa2d0a;
  font-size: 20px; }
.b-basket__button1 {
  color: #707070;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
  padding: 5px 10px;
  border: 1px solid #333;
  line-height: 20px;
  height: 29px; }
.b-basket__button1:hover {
  color: #ff791e;
  text-decoration: none; }
.b-basket__button2 {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  float: right;
  padding: 5px 10px;
  background: #f56e3c; }
.b-basket__button2:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }
.b-basket__close {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 9px;
  height: 9px;
  cursor: pointer;
  background: url(../img/sprite.png) -82px -85px no-repeat; }

.top__button {
  top: auto;
  bottom: 80px; }
@media screen and (max-width: 766px) {
  .top__button {
    display: block; } }

.b-mainslider {
  position: relative; }
.b-mainslider__item {
  background-size: cover;
  float: left;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-position: center top; }
.b-mainslider__text {
  background: rgba(0, 0, 0, 0.5);
  margin: 191px auto 200px auto;
  text-align: center;
  padding: 15px 0 30px;
  max-width: 910px; }
.b-mainslider__title {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'HelveticaNeueCyr-Black', sans-serif; }
@media screen and (max-width: 766px) {
  .b-mainslider__title {
    font-size: 41px; } }
.b-mainslider__detal-text {
  font-size: 22px;
  color: #fff;
  margin-bottom: 45px; }
@media screen and (max-width: 766px) {
  .b-mainslider__detal-text {
    font-size: 18px; } }
.b-mainslider__link {
  display: inline-block;
  padding: 10px 50px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'HelveticaNeueCyr-Light',sans-serif; }
.b-mainslider__link:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5); }
.b-mainslider__nav {
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -45px; }
@media screen and (max-width: 766px) {
  .b-mainslider__nav {
    width: 45px;
    height: 45px;
    top: 66%; } }
.b-mainslider__nav--left {
  left: 30px; }
.b-mainslider__nav--left:before {
  background: url("../img/sprite.png") -2px -34px no-repeat; }
@media screen and (max-width: 766px) {
  .b-mainslider__nav--left {
    left: 0; } }
.b-mainslider__nav--right {
  right: 30px; }
.b-mainslider__nav--right:before {
  background: url("../img/sprite.png") -15px -34px no-repeat; }
@media screen and (max-width: 766px) {
  .b-mainslider__nav--right {
    right: 0; } }
.b-mainslider__nav:hover {
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
.b-mainslider__nav:before {
  content: '';
  width: 13px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -11px; }

.b-footer {
  color: #fff;
  font-size: 14px;
  display: table-row;
  height: 1px; }
.b-footer__top {
  background: #075a82;
  border-bottom: 1px solid #397b9b;
  padding: 50px 0 25px; }
.b-footer__bottom {
  background: #075a82;
  line-height: 55px;
  text-align: center; }
.b-footer__trademark {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff; }
.b-footer__title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #858f9b;
  margin-bottom: 45px; }
.b-footer__item:last-child a {
  border-bottom: none; }
.b-footer__link {
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 10px 10px;
  border-bottom: 1px solid #357797; }
.b-footer__link:hover {
  background: #397b9b;
  text-decoration: none;
  color: #fff; }
.b-footer__logo {
  margin-bottom: 15px;
  display: block; }
.b-footer__logo img {
  max-width: 100%; }
.b-footer__text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  line-height: 24px; }
.b-footer__social-item {
  display: inline-block;
  margin-right: 10px; }
.b-footer__social-link {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  display: block; }
.b-footer__social-link--vk:before {
  width: 24px;
  height: 14px;
  margin-left: -12px;
  margin-top: -7px;
  background: url("../img/sprite.png") -1px -57px no-repeat; }
.b-footer__social-link--vk:hover {
  border: 1px solid #bb3750; }
.b-footer__social-link--vk:hover:before {
  background: url("../img/sprite.png") 0 -80px no-repeat; }
.b-footer__social-link--f:before {
  width: 9px;
  height: 18px;
  margin-left: -5px;
  margin-top: -9px;
  background: url("../img/sprite.png") -27px -57px no-repeat; }
.b-footer__social-link--f:hover {
  border: 1px solid #bb3750; }
.b-footer__social-link--f:hover:before {
  background: url("../img/sprite.png") -28px -77px no-repeat; }
.b-footer__social-link--g:before {
  width: 17px;
  height: 18px;
  margin-left: -8px;
  margin-top: -9px;
  background: url("../img/sprite.png") -39px -57px no-repeat; }
.b-footer__social-link--g:hover {
  border: 1px solid #bb3750; }
.b-footer__social-link--g:hover:before {
  background: url("../img/sprite.png") -39px -77px no-repeat; }
.b-footer__social-link:before {
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  position: absolute; }
.b-footer__partner {
  margin-bottom: 15px;
  display: block; }
.b-footer__partner:hover {
  text-decoration: none; }
.b-footer__partner:hover .b-footer__partner-img {
  left: 30px; }
.b-footer__partner:hover .b-footer__partner-text {
  text-decoration: none;
  color: #ff791e; }
.b-footer__partner-img {
  max-width: 100%;
  margin-bottom: 10px;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
.b-footer__partner-text {
  font-size: 14px;
  color: #fff;
  display: block; }
.b-footer__payment-item {
  display: inline-block;
  margin-right: 15px; }
.b-footer__payment-link {
  width: 40px;
  height: 35px;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
.b-footer__payment-link--type1 {
  background: url("../img/sprite.png") -2px -95px no-repeat; }
.b-footer__payment-link--type2 {
  background: url("../img/sprite.png") -42px -95px no-repeat; }
.b-footer__payment-link--type3 {
  background: url("../img/sprite.png") -80px -95px no-repeat; }
.b-footer__payment-link:hover {
  top: 5px; }
.b-footer__contact-item {
  margin-bottom: 15px;
  padding: 10px 0 10px 80px;
  line-height: 60px;
  position: relative; }
.b-footer__contact-item:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 50%; }
.b-footer__contact-item:after {
  display: block;
  content: '';
  position: absolute; }
.b-footer__contact-item--type1:after {
  width: 11px;
  height: 17px;
  left: 24px;
  top: 32px;
  background: url("../img/sprite.png") -82px -27px no-repeat; }
.b-footer__contact-item--type2:after {
  width: 15px;
  height: 16px;
  left: 22px;
  top: 33px;
  background: url("../img/sprite.png") -97px -27px no-repeat; }
.b-footer__contact-item--type3:after {
  width: 19px;
  height: 15px;
  left: 21px;
  top: 33px;
  background: url("../img/sprite.png") -114px -27px no-repeat; }
.b-footer__contact-content {
  line-height: normal;
  display: inline-block;
  vertical-align: middle; }
.b-footer__contact-text {
  line-height: 19px; }
.b-footer__contact-link {
  display: block;
  color: #fff;
  line-height: 19px; }
.b-footer__contact-link:hover {
  text-decoration: none;
  color: #ff791e; }

.b-mark {
  padding: 30px 0 40px;
  min-height: 145px;
  position: relative;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
.b-mark__list {
  margin-bottom: 0; }
.b-mark__item {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
.b-mark__link {
  display: block;
  width: 150px;
  padding: 0 20px; }
.b-mark__link img {
  max-width: 100%; }
.b-mark__paginator {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-size: 0;
  min-width: 200px;
  margin-left: -100px;
  text-align: center; }
.b-mark__paginator a {
  width: 10px;
  display: inline-block;
  margin: 0 5px;
  font-size: 0;
  height: 10px;
  border-radius: 50%;
  background: #b2b2b2; }
.b-mark__paginator a.selected {
  background: #f56e3c; }

.b-actions {
  padding: 40px 0 20px; }
.b-actions__list {
  margin-bottom: 25px; }
.b-actions__main-title {
  color: #363636;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-actions__list {
  font-size: 0; }
.b-actions__item {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  position: relative;
  padding-bottom: 20px;
  margin-right: 2%; }
@media screen and (max-width: 766px) {
  .b-actions__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; } }
.b-actions__item:nth-child(3n) {
  margin-right: 0; }
.b-actions__item:hover .b-actions__title {
  color: #ff791e; }
.b-actions__wrap-img {
  margin-bottom: 20px; }
.b-actions__wrap-img img {
  max-width: 100%; }
.b-actions__option {
  margin-bottom: 10px; }
.b-actions__date {
  font-size: 12px;
  color: #8c8c8c; }
.b-actions__coment {
  font-size: 12px;
  color: #8c8c8c; }
.b-actions__coment:hover {
  color: #ff791e; }
.b-actions__title {
  display: block;
  font-size: 18px;
  color: #383838;
  margin-bottom: 15px;
  font-weight: bold; }
.b-actions__text {
  font-size: 14px;
  color: #838383;
  margin-bottom: 15px;
  line-height: 18px;
  min-height: 85px; }
.b-actions__detal {
  padding: 5px 0 5px 20px;
  position: absolute;
  font-size: 14px;
  color: #8c8c8c;
  left: 0;
  bottom: 0; }
.b-actions__detal:hover {
  color: #ff791e; }
.b-actions__detal:before {
  width: 17px;
  content: '';
  display: block;
  height: 17px;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px; }
.b-actions__detal:after {
  content: '';
  display: block;
  width: 5px;
  height: 9px;
  position: absolute;
  left: 6px;
  top: 9px;
  background: url("../img/sprite.png") -75px -29px no-repeat; }
.b-actions__about {
  min-height: 222px;
  padding: 25px;
  position: relative;
  border: 3px solid #f56e3c;
  font-size: 0; }
@media screen and (max-width: 766px) {
  .b-actions__about {
    margin-bottom: 20px; } }
.b-actions__about-textblock {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 65%; }
.b-actions__about-img {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  padding-right: 15px; }
.b-actions__about-img img {
  max-width: 100%; }
.b-actions__about-title {
  position: relative;
  font-weight: bold;
  color: #696d74;
  font-size: 30px;
  padding: 10px 0;
  margin: 0 0 10px; }
.b-actions__about-title:before {
  content: '';
  display: block;
  width: 85px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0; }
.b-actions__about-text {
  font-size: 14px;
  line-height: 24px;
  color: #696d74; }

.b-novelty {
  padding: 50px 0 0px; }
.b-novelty__list {
  padding-bottom: 50px; }
.b-novelty__item {
  width: 270px;
  max-width: 283px;
  display: inline-block;
  padding: 0 8px;
  position: relative;
  vertical-align: top; }
.b-novelty__item--sale {
  width: 32%;
  margin-right: 2px; }
@media screen and (max-width: 680px) {
  .b-novelty__item--sale {
    width: 48%;
    margin: 0 0 20px; } }
@media screen and (max-width: 420px) {
  .b-novelty__item--sale {
    width: 100%;
    margin: 0 0 20px; } }
.b-novelty__item--sale:nth-child(3n) {
  margin-right: 0; }
.b-novelty__item--sale .b-novelty__img {
  min-height: 200px;
  line-height: 200px; }
.b-novelty__item--sale .b-novelty__size-text {
  text-align: left; }
.b-novelty__item--sale .b-novelty__hide-block {
  top: 165px; }
.b-novelty__item:hover {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3), -1px 1px 30px rgba(0, 0, 0, 0.3); }
.b-novelty__item:hover .b-novelty__hide-block {
  display: block !important;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3), -1px 1px 30px rgba(0, 0, 0, 0.3); }
.b-novelty__slider {
  position: relative; }
.b-novelty__slider--type1 .caroufredsel_wrapper {
  min-height: 430px;
  margin-bottom: 0; }
.b-novelty__slider:hover .b-novelty__nav {
  display: block !important; }
.b-novelty__img {
  margin-bottom: 15px;
  min-height: 270px;
  line-height: 270px;
  text-align: center;
  position: relative;
  display: block; }
.b-novelty__img[data-discout]:before {
  content: attr(data-discout);
  display: block;
  line-height: normal;
  padding: 6px 5px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  text-transform: uppercase;
  color: #fff;
  background: #f56e3c;
  position: absolute;
  top: 0;
  right: -9px; }
.b-novelty__img[data-discout]:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 44px;
  right: -9px;
  border-top: 10px solid #992809;
  border-right: 10px solid transparent; }
.b-novelty__img img {
  vertical-align: middle;
  max-width: 100%; }
.b-novelty__detal {
  font-size: 0; }
.b-novelty__detal-left {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  text-align: left; }
.b-novelty__name {
  color: #000;
  margin: 0; }
.b-novelty__name--month {
  font-size: 20px; }
.b-novelty__type {
  color: #b2b2b2; }
.b-novelty__type--month {
  font-size: 20px; }
.b-novelty__detal-right {
  font-size: 14px;
  text-align: right;
  display: inline-block;
  width: 50%;
  font-family: 'HelveticaNeueCyr-Light',sans-serif; }
.b-novelty__ptice {
  font-size: 17px;
  color: #aa2d0a; }
.b-novelty__ptice--month {
  font-size: 24px; }
.b-novelty__ptice-old {
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: line-through; }
.b-novelty__ptice-old--month {
  font-size: 14px; }
.b-novelty__hide-block {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 235px;
  width: 100%;
  background: #fff; }
.b-novelty__option-list {
  line-height: 50px;
  background: #6a9cb4;
  text-align: center; }
.b-novelty__option-item {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0 10px; }
.b-novelty__option-link {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #fff;
  position: relative; }
.b-novelty__option-link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%; }
.b-novelty__option-link--basket.active {
  background: #f56e3c; }
.b-novelty__option-link--basket.active:before {
  background: url("../img/sprite2.png") 0 -43px no-repeat; }
.b-novelty__option-link--basket:before {
  width: 15px;
  height: 15px;
  margin-top: -7px;
  margin-left: -10px;
  background: url("../img/sprite2.png") 0 -28px no-repeat; }
.b-novelty__option-link--like.active {
  background: #f56e3c; }
.b-novelty__option-link--like.active:before {
  background: url("../img/sprite2.png") 0 0px no-repeat; }
.b-novelty__option-link--like:before {
  width: 17px;
  height: 14px;
  margin-top: -7px;
  margin-left: -9px;
  background: url("../img/sprite2.png") 0 -14px no-repeat; }
.b-novelty__option-link--share.active {
  background: #f56e3c; }
.b-novelty__option-link--share.active:before {
  background: url("../img/sprite2.png") 0 -68px no-repeat; }
.b-novelty__option-link--share:before {
  width: 16px;
  height: 10px;
  margin-top: -5px;
  margin-left: -8px;
  background: url("../img/sprite2.png") 0 -58px no-repeat; }
.b-novelty__size {
  padding: 15px; }
.b-novelty__size-text {
  font-size: 14px;
  color: #707070;
  margin: 0; }
.b-novelty__param {
  display: inline-block; }
.b-novelty__param--type1 {
  width: 12px;
  height: 5px;
  background: url("../img/sprite2.png") -17px 0 no-repeat; }
.b-novelty__param--type2 {
  width: 9px;
  height: 9px;
  background: url("../img/sprite2.png") -18px -5px no-repeat; }
.b-novelty__param--type3 {
  width: 5px;
  height: 12px;
  background: url("../img/sprite2.png") -18px -16px no-repeat; }
.b-novelty__param--type4 {
  width: 9px;
  height: 9px;
  background: url("../img/sprite2.png") -17px -28px no-repeat; }
.b-novelty__total-price {
  text-align: right;
  line-height: 19px;
  padding: 0 15px 10px 15px;
  font-family: 'HelveticaNeueCyr-Light',sans-serif; }
.b-novelty__old-price {
  font-size: 12px;
  color: #8c8c8c;
  text-decoration: line-through; }
.b-novelty__new-price {
  font-size: 17px;
  color: #000; }
.b-novelty__benefit-price {
  font-size: 12px;
  color: #c83750; }
.b-novelty__nav {
  display: none !important;
  width: 52px;
  height: 52px;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: absolute;
  top: 30%;
  border-radius: 50%;
  margin-top: -26px;
  cursor: pointer;
  z-index: 10; }
@media screen and (max-width: 766px) {
  .b-novelty__nav {
    display: block !important;
    width: 32px;
    height: 32px; } }
.b-novelty__nav--left {
  left: 0; }
.b-novelty__nav--left:before {
  background: url("../img/sprite.png") -62px -45px no-repeat; }
@media screen and (max-width: 766px) {
  .b-novelty__nav--left:before {
    top: 10px;
    left: 10px; } }
.b-novelty__nav--left:hover {
  border: 1px solid #d35f73; }
.b-novelty__nav--left:hover:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../img/sprite.png") -56px -45px no-repeat; }
.b-novelty__nav--right {
  right: 0; }
.b-novelty__nav--right:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../img/sprite.png") -62px -45px no-repeat; }
.b-novelty__nav--right:hover {
  border: 1px solid #d35f73; }
.b-novelty__nav--right:hover:before {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  background: url("../img/sprite.png") -56px -45px no-repeat; }
.b-novelty__nav:before {
  content: '';
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 19px;
  left: 21px; }
@media screen and (max-width: 766px) {
  .b-novelty__nav:before {
    top: 10px;
    left: 13px; } }

.b-category {
  margin-bottom: 25px; }
.b-category .b-novelty__img:before {
  display: none; }
.b-category .b-novelty__img:after {
  display: none; }
.b-category .b-novelty__img--sell:before {
  display: block;
  width: 90px;
  content: '';
  height: 91px;
  right: -10px;
  top: -20px;
  position: absolute;
  background: url("../img/sell_50.png") 0 0 no-repeat; }
.b-category__block {
  background-position: center top;
  background-size: cover;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid transparent; }
.b-category__block--type1.active .b-category__text-block1 {
  margin: 0;
  left: 0;
  height: 100%; }
.b-category__block--type1.active .b-category__title1 {
  right: 10%;
  top: 80%; }
.b-category__block--type1.active .b-category__text1 {
  right: 80%;
  top: 10%; }
@media screen and (max-width: 766px) {
  .b-category__block--type1.active .b-category__text1 {
    right: 65%; } }
.b-category__block--type1.active .b-category__button--type1 {
  right: 42%;
  top: 44%;
  padding: 10px 20px;
  height: 36px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }
@media screen and (max-width: 766px) {
  .b-category__block--type1.active .b-category__button--type1 {
    right: 33%; } }
.b-category__block--type2 {
  padding: 22px; }
.b-category__block--type2:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }
.b-category__block--type2.active .b-category__title2 {
  top: -50%;
  left: 20%;
  position: absolute; }
@media screen and (max-width: 766px) {
  .b-category__block--type2.active .b-category__title2 {
    top: -20%;
    left: 5%; } }
.b-category__block--type2.active .b-category__text2 {
  top: 120%;
  position: absolute;
  left: 7%; }
@media screen and (max-width: 766px) {
  .b-category__block--type2.active .b-category__text2 {
    top: 150%; } }
.b-category__block--type2.active .b-category__button--type2 {
  opacity: 1;
  right: 42%;
  top: 44%;
  padding: 10px 20px;
  height: 36px;
  visibility: visible;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }
@media screen and (max-width: 766px) {
  .b-category__block--type2.active .b-category__button--type2 {
    right: 29%; } }
.b-category__text-block1 {
  background: rgba(21, 18, 32, 0.7);
  width: 100%;
  left: 25%;
  height: 180px;
  margin: 10% 0 45px auto;
  position: relative;
  padding: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
.b-category__title1 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 30%;
  top: 13%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'HelveticaNeueCyr-Black',sans-serif; }
.b-category__text1 {
  font-size: 24px;
  color: #fff;
  position: absolute;
  right: 30%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  top: 40%; }
.b-category__button {
  font-size: 11px;
  padding: 5px 10px;
  background: none;
  color: #fff;
  min-height: 25px;
  display: inline-block;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase; }
.b-category__button:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5) !important; }
.b-category__button--type1 {
  position: absolute;
  right: 30%;
  bottom: 11%; }
.b-category__button--type1:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5) !important; }
.b-category__button--type2 {
  position: absolute;
  right: 30%;
  top: 44%;
  opacity: 0;
  visibility: hidden; }
.b-category__button--bunner {
  position: relative;
  z-index: 5;
  padding: 8px 30px;
  font-size: 13px;
  margin-bottom: 30px; }
.b-category__button--bunner:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5); }
.b-category__text-block2 {
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 100%;
  border-top: 5px solid rgba(255, 255, 255, 0.6);
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
  border-right: 5px solid rgba(255, 255, 255, 0.6); }
.b-category__text-content {
  margin: 12% 0px;
  padding: 10px 0;
  height: 45%;
  position: relative; }
.b-category__text-content:before {
  content: '';
  display: block;
  width: 5px;
  height: 400%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  top: 100%; }
.b-category__text-content:after {
  content: '';
  display: block;
  width: 5px;
  height: 400%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  bottom: 100%; }
.b-category__title2 {
  font-size: 48px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'HelveticaNeueCyr-Black',sans-serif;
  color: #fff;
  left: 0;
  top: 0;
  text-transform: uppercase; }
@media screen and (max-width: 766px) {
  .b-category__title2 {
    font-size: 29px; } }
.b-category__text2 {
  font-size: 18px;
  left: 0;
  top: 0;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }

.b-month__slider {
  padding: 10px 50px;
  background: #f2f2f2; }
@media screen and (max-width: 766px) {
  .b-month__slider {
    padding: 10px 30px; } }
.b-month__item {
  position: relative;
  display: inline-block; }
.b-month__time {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  text-align: center; }
.b-month__time-item {
  display: inline-block;
  margin: 0 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  width: 60px;
  height: 60px;
  padding-top: 40px;
  vertical-align: top;
  color: #8c8c8c;
  font-size: 12px; }
@media screen and (max-width: 766px) {
  .b-month__time-item {
    margin: 0 5px; } }
.b-month__time-item span {
  position: absolute;
  top: 2px;
  font-family: 'HelveticaNeueCyr-Light',sans-serif;
  right: 10px;
  color: #000;
  font-size: 36px; }
.b-month__img {
  margin-bottom: 15px;
  text-align: center;
  line-height: 445px;
  overflow: hidden; }
.b-month__img img {
  max-width: 100%;
  vertical-align: middle;
  line-height: normal; }
.b-month__nav {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  margin-top: -17px;
  cursor: pointer;
  z-index: 10; }
.b-month__nav:before {
  content: '';
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 12px;
  left: 15px; }
.b-month__nav--right {
  right: 15px; }
.b-month__nav--right:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../img/sprite.png") -62px -45px no-repeat; }
.b-month__nav--right:hover {
  border: 1px solid #d35f73; }
.b-month__nav--right:hover:before {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  background: url("../img/sprite.png") -56px -45px no-repeat; }
.b-month__nav--left {
  left: 15px; }
.b-month__nav--left:before {
  left: 12px;
  background: url("../img/sprite.png") -62px -45px no-repeat; }
.b-month__nav--left:hover {
  border: 1px solid #d35f73; }
.b-month__nav--left:hover:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../img/sprite.png") -56px -45px no-repeat; }

.b-sale__list {
  text-align: center; }

.b-categorys__list {
  font-size: 0; }
@media screen and (max-width: 991px) {
  .b-categorys__list {
    text-align: center; } }
.b-categorys__list--global .b-categorys__link span {
  color: #696d74; }
.b-categorys__list--global .b-categorys__link--globalType1 span {
  color: #fff; }
.b-categorys__list--global .b-categorys__img:before {
  background: none; }
.b-categorys__item {
  display: inline-block;
  width: 32%;
  overflow: hidden;
  position: relative;
  margin-right: 2%;
  margin-bottom: 20px;
  max-height: 260px;
  max-width: 270px; }
@media screen and (max-width: 991px) {
  .b-categorys__item {
    width: 48%;
    margin: 0 1% 25px;
    height: auto; } }
@media screen and (max-width: 425px) {
  .b-categorys__item {
    width: 100%; } }
.b-categorys__item:nth-child(3n) {
  margin-right: 0; }
@media screen and (max-width: 991px) {
  .b-categorys__item:nth-child(3n) {
    margin-right: 1%; } }
.b-categorys__item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
.b-categorys__img {
  text-align: center; }
.b-categorys__img:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); }
.b-categorys__img img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
.b-categorys__link {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  line-height: 260px;
  text-align: center; }
.b-categorys__link span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: normal; }

.b-banner {
  min-height: 180px;
  background-position: center top;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-bottom: 25px; }
.b-banner:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); }
.b-banner__text {
  text-transform: uppercase;
  font-size: 31px;
  line-height: 45px;
  position: relative;
  z-index: 5;
  color: #fff;
  padding: 70px 0; }
.b-banner__text span {
  display: block;
  color: #d35f73; }

.b-subscription {
  margin-bottom: 40px; }
.b-subscription__label-block {
  margin-bottom: 15px; }
.b-subscription__label {
  cursor: pointer; }
.b-subscription__mail-block {
  position: relative;
  font-size: 13px;
  color: #000; }
.b-subscription__mail {
  margin-right: -5px;
  min-width: 160px; }
.b-subscription__button {
  border: 1px solid #8d2c3f;
  background: #d35f73;
  color: #fff;
  padding: 2px 7px; }

.b-breadcrumb {
  margin: 20px 0px 20px; }
.b-breadcrumb__list {
  overflow: hidden;
  width: 100%;
  margin: 0; }
.b-breadcrumb__item {
  float: left;
  margin: 0 .5em 0 1em; }
.b-breadcrumb__link {
  background: #075a82;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #fff;
  position: relative; }
@media screen and (max-width: 766px) {
  .b-breadcrumb__link {
    padding: .7em 0.6em;
    font-size: 12px; } }
.b-breadcrumb__link:hover {
  background: #f56e3c;
  text-decoration: none;
  color: #fff; }
.b-breadcrumb__link:hover:before {
  border-color: #f56e3c #f56e3c #f56e3c transparent; }
.b-breadcrumb__link:hover:after {
  border-left-color: #f56e3c; }
.b-breadcrumb__link:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #075a82 #075a82 #075a82 transparent;
  left: -1em; }
.b-breadcrumb__link:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #075a82;
  right: -1em; }
.b-breadcrumb__link--active {
  font-weight: bold;
  background: #f56e3c; }
.b-breadcrumb__link--active:before {
  border-color: #f56e3c #f56e3c #f56e3c transparent; }
.b-breadcrumb__link--active:after {
  border-left-color: #f56e3c; }

.b-pagination {
  width: 100%;
  padding: 20px 0;
  font-size: 0; }
.b-pagination__left {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 14px; }
.b-pagination__right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 14px;
  text-align: right; }
.b-pagination__show {
  color: #696d74;
  font-size: 12px;
  padding-top: 8px; }
.b-pagination__list {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block; }
.b-pagination__item {
  display: inline-block;
  margin: 0 5px; }
@media screen and (max-width: 766px) {
  .b-pagination__item {
    margin: 0; } }
.b-pagination__link {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 3px; }
@media screen and (max-width: 766px) {
  .b-pagination__link {
    padding: 5px 7px; } }
.b-pagination__link:hover {
  background: #ccc;
  text-decoration: none;
  color: #333; }
.b-pagination__link--disabled {
  color: #ccc;
  pointer-events: none; }
.b-pagination__link--disabled:hover {
  background: #fff; }
.b-pagination__link--active {
  color: #ff791e;
  pointer-events: none; }
.b-pagination__link--active:hover {
  background: #fff; }
.b-pagination__link--more {
  pointer-events: none;
  border: none; }
.b-pagination__link--more:hover {
  background: #fff; }

.b-category__list {
  font-size: 0; }
.b-category__list .b-novelty__item {
  width: 33.333% !important;
  margin-bottom: 30px; }

.b-filter__line {
  padding: 6px 0;
  font-size: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; }
.b-filter__lineLeft {
  width: 50%;
  display: inline-block;
  vertical-align: top; }
.b-filter__lineRight {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right; }
.b-filter__screenList {
  display: inline-block;
  margin: 0; }
.b-filter__screenItem {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px; }
.b-filter__screenLink {
  display: block;
  height: 100%;
  border: 1px solid transparent; }
.b-filter__screenLink--type1 {
  background: url("../img/screen_1.png") center center no-repeat; }
.b-filter__screenLink--type1:hover {
  background: url("../img/screen_1_hover.png") center center no-repeat; }
.b-filter__screenLink--type1.active {
  border: 1px solid #f56e3c;
  background: url("../img/screen_1_hover.png") center center no-repeat; }
.b-filter__screenLink--type2 {
  background: url("../img/screen_2.png") center center no-repeat; }
.b-filter__screenLink--type2:hover {
  background: url("../img/screen_2_hover.png") center center no-repeat; }
.b-filter__screenLink--type2.active {
  border: 1px solid #f56e3c;
  background: url("../img/screen_2_hover.png") center center no-repeat; }
.b-filter__sort {
  display: inline-block;
  font-size: 12px;
  color: #696d74; }
.b-filter__sortText {
  vertical-align: middle;
  display: inline-block;
  padding-top: 7px; }
.b-filter__select {
  margin-left: 5px;
  width: 180px;
  line-height: 0;
  min-height: 28px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  border: solid 1px rgba(151, 151, 151, 0.25); }
.b-filter__select:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #696d74;
  border-right: 1px solid #696d74;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 9px;
  right: 10px; }
.b-filter__select select {
  font-size: 12px;
  color: #696d74;
  font-weight: normal;
  width: 200px;
  position: relative;
  height: 28px;
  background: none;
  border: none; }
.b-filter__select select:focus {
  outline: none; }
.b-filter__checkWrap {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px; }
.b-filter__checkWrap label {
  display: block;
  padding: 0 5px 0 20px;
  cursor: pointer;
  color: #696d74;
  font-size: 14px;
  font-weight: normal; }
.b-filter__checkWrap label:before {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #696d74;
  background: #fff;
  border-radius: 3px;
  top: 1px;
  left: 0; }
.b-filter__checkWrap label:after {
  content: '';
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 3px;
  background: #ececec url("../img/check.png") 0 0 no-repeat; }
.b-filter__checkWrap input:checked + label {
  color: #ff791e; }
.b-filter__checkWrap input:checked + label:after {
  display: block; }
.b-filter__nav {
  margin-bottom: 60px; }
.b-filter__navTitle {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #696d74; }
.b-filter__navBlock {
  display: inline-block;
  position: relative; }
.b-filter__navLink {
  color: #696d74;
  font-size: 14px;
  padding-right: 10px;
  margin-right: 10px;
  position: relative; }
.b-filter__navLink:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #696d74;
  border-right: 1px solid #696d74;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 5px;
  right: -1px; }
.b-filter__navLink:hover {
  text-decoration: none;
  color: #ff791e; }
.b-filter__navLink:focus {
  text-decoration: none;
  color: #ff791e; }
.b-filter__navContent {
  background: #FFF;
  position: absolute;
  width: 180px;
  display: none;
  left: 0;
  top: 150%;
  z-index: 1;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.b-filter__navContent--price {
  width: 250px; }
.b-filter__priceText {
  font-size: 12px;
  color: #696d74;
  padding-top: 20px; }
.b-filter__priceText input {
  width: auto;
  display: inline-block;
  border: none;
  font-size: 14px;
  color: #696d74;
  width: 50px; }
.b-filter__priceText .b-sliderRange__input {
  text-align: right; }

/*# sourceMappingURL=main.css.map */