 *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {height:100%;}
head{
	display: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
input::-ms-clear{display:none;width:0;height:0;}
input::-ms-reveal{display:none;width:0;height:0;}

.clearFix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
}
input,
textarea,
button{
	outline: none;
}
button:hover{
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}



/* FONT */
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr') format('svg');
	font-style: normal;
	font-weight: bold;
}


@font-face {
	font-family: 'HelveticaNeueCyr-Black';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
	font-style: normal;
	font-weight: normal;
}




/*style menu*/

.top__button{
	display: none;

    position: absolute;
    top: 7px;
    left: 5px;
    overflow: hidden;
    z-index: 100;
    padding: 0;
    width: 63px;
    height: 46px;
    font-siz: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.top__button:focus{
	outline: none;
}
.top__button span{
	display: block;
    position: absolute;
    left: 14px;
    right: 14px;
    height: 4px;
    background: #000;
    top: 22px;
}
.top__button span:before{
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000;
	content: "";
	top: -7px;
}
.top__button span:after{
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000;
	content: "";
	bottom: -7px;
}
.top__button--anima span{
	-webkit-transition: background 0 0.3s;
            transition: background 0 0.3s;
}
.top__button--anima span:before{
	-webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
   -webkit-transition-property: top, -webkit-transform;
         transition-property: top, transform;
}
.top__button--anima span:after{
	-webkit-transition-duration: 0.3s, 0.3s;
					transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0;
					transition-delay: 0.3s, 0;
	 -webkit-transition-property: bottom, -webkit-transform;
					transition-property: bottom, transform;
}
.top__button.mobile_active span{
	background: none;
}
.top__button.mobile_active span:before{
	top: 0;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
		-webkit-transition-delay: 0, 0.3s;
				 transition-delay: 0, 0.3s;
}
.top__button.mobile_active span:after{
	bottom: 0;
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
		-webkit-transition-delay: 0, 0.3s;
				 transition-delay: 0, 0.3s;
}